[2019-01-02 05:50] ssudake21 opened #2 "Publish messages when bot started/stopped"
We should notify on communication channel for following scenarios

1. Bot starts initially
2. Bot goes under graceful shutdown, or bot is aware of its shutdown

Any kubernetes actions which result in starting or stopping of bot should be considered.

[2019-01-02 08:48] vishal-biyani opened #4 "Change of name"
Change name from `kubeops` to `botkube` and all references in docs etc.

[2019-01-03 07:12] #2 closed

[2019-01-04 09:47] #4 closed

[2019-01-07 06:25] PrasadG193 opened #7 "Send clustername in the event message"
botkube should read clustername provided in config file and send that name along with the events to slack so events from the multiple clusters can be differentiated

[2019-01-07 06:48] PrasadG193 opened #8 "Add flag to enable/disable kubectl command execution"
There should be a way to enable/disable kubectl command execution on botkube.
We can have a flag like `disablekubectl: true` in the config file

[2019-01-07 09:20] vishal-biyani opened #9 "Provide a way to install without Helm"

[2019-01-10 08:41] PrasadG193 opened #10 "Add license"

[2019-01-15 08:58] #8 closed

[2019-01-15 10:52] PrasadG193 opened #16 "Include clustername in start/stop messages from BotKube"
BotKube should include cluster name in start/stop messages so that we would know BotKube started watching which cluster

[2019-01-15 18:45] PrasadG193 opened #17 "Change license to MIT"

[2019-01-16 04:22] #17 closed

[2019-01-16 04:23] #7 closed, assigned to PrasadG193

[2019-01-17 10:29] PrasadG193 opened #20 "Change botkube to BotKube in help messages"

[2019-01-17 11:02] PrasadG193 commented on #20
Fixed with https://github.com/infracloudio/botkube/pull/21

[2019-01-17 11:02] #20 closed

[2019-01-17 12:41] PrasadG193 opened #24 "Load filters dynamically using go plugin"

[2019-01-22 11:30] ssudake21 opened #26 "Mattermost support"

[2019-01-24 11:01] PrasadG193 opened #27 "Add filter to add warnings if pod is created without any labels"

[2019-01-24 11:03] sanketsudake opened #28 "Segregate botkube commands in processors"
Currently, we have two types of commands,

1. Botkube commands - commands which are botkube specific
2. Kubectl commands - kubectl commands which are executed on kubernetes cluster

We have a single parser code which is executing botkube commands. We can breakdown this code into processors so that we can easily add new commands in botkube commands set.

Basically something similar to filter engine

[2019-01-31 20:41] adamhaney opened #32 "Add Helm Chart to helm/charts stable/incubator repo?"
Helm Operates a "stable" and "incubator" repository of charts that are included without any additional configuration to the helm command. It appears that all that would be required to have the helm chart in this repo included in the default repository would be to open a pull request to helm/charts (assuming there were no objections to the chart). If the chart was in the stable or incubator reposit

[2019-02-01 05:03] ssudake21 opened #33 "Add helm lint in travis CI"

[2019-02-01 05:03] PrasadG193 opened #34 "Add "helm lint" checks to CI build"

[2019-02-01 05:10] PrasadG193 commented on #34
Duplicate of https://github.com/infracloudio/botkube/issues/33. Hence closing

[2019-02-01 05:10] #34 closed

[2019-02-01 09:33] #33 closed

[2019-02-11 06:38] sanketsudake opened #36 "i18n support for botkube commands"

[2019-02-12 10:54] zodiac12k opened #37 "Run the command on the slack channel, only the information of the corresponding cluster is displayed."
This is very useful bot to operate kubernetes cluster.
Thanks for making it.
I suggest an improvement to make this bot better.
This is suggestions:
Running the botkube command on the slack channel, only the information of the corresponding cluster is displayed.

[2019-02-15 10:53] PrasadG193 commented on #37
Hey @zodiac12k,
Thanks for using BotKube :). We have a couple of designs in mind for multiple cluster support. We will soon add the support once we finalize the design.

[2019-02-20 10:56] PrasadG193 opened #40 ""BotKube notifier" commands should be executable only from a slack channel"
Currently, we can execute `BotKube notifier` commands to start/stop notification from outside the channel (like DM) also. We should restrict these command execution to happen only from the configured channel.

[2019-02-28 05:55] PrasadG193 commented on #40
Fixed with https://github.com/infracloudio/botkube/pull/39

[2019-02-28 05:55] #40 closed

[2019-02-28 05:55] PrasadG193 commented on #37
Fixed with https://github.com/infracloudio/botkube/pull/39

[2019-02-28 05:55] #37 closed

[2019-02-28 05:57] #16 closed

[2019-02-28 06:18] PrasadG193 opened #41 "Reduce docker image size"
Currently, docker image size is around 572 MB. The major reason behind that is, we are coping source code into the docker base image and building the binary there (https://github.com/infracloudio/botkube/blob/develop/build/Dockerfile). Instead we should be generating binary on local env and copy that binary into the docker image.
So we should have architecture specific build scripts (atleast linux

[2019-03-04 12:02] #41 closed

[2019-03-06 07:25] PrasadG193 opened #46 "Migrating to "Slash Commands" for `help`"
After multicluster support, we are getting multiple responses for single "@BotKube help" request. To handle this, we are planning to use Slash Commands in slack for BotKube help (`/botkubehelp`).
The following changes are needed in backend controller as well as docs side:

- Change help command in documentation from `@BotKube help` to `/botkubehelp`
- Update related screenshots in docs.
- Remove s

[2019-03-08 08:41] ssudake21 opened #50 "Telegram Support"
**Is your feature request related to a problem? Please describe.**
Telegram support is missing from botkube

**Describe the solution you'd like**
Telegram support for Botkube
https://telegram.org/

[2019-03-08 09:12] #27 closed

[2019-03-08 09:13] #46 closed

[2019-03-11 09:09] ssudake21 opened #51 "[BUG] Helm chart version not in sync with Botkube version"
**Describe the bug**

Version mentioned in https://github.com/infracloudio/botkube/blob/master/helm/botkube/Chart.yaml does not match with BotKube version.

[2019-03-12 10:24] PrasadG193 opened #53 "Add ElasticSearch support"
BotKube should be able to send events to Elastic search

As of now, we have only Slack as a medium to send events. Since we already have sender interface implemented, it should be very straight forward to add new channels.

**Describe the solution you'd like**
- User should be able to provide ELS credentials in the configuration file
- User should be able to configure the events he/she is interest

[2019-03-14 06:35] #51 closed

[2019-03-18 04:11] bhavin192 opened #56 "Add support for RocketChat"
It would be a good addition if we can have RocketChat support as well.
https://rocket.chat/docs/bots/

**Describe the solution you'd like**
The Go SDK is still in very early stage. Once it has some releases we can try to use that to implement support for RocketChat.

https://github.com/RocketChat/Rocket.Chat.Go.SDK

**About Rocket.Chat https://rocket.chat**
[code]

[2019-03-20 11:07] arush-sal opened #57 "Test cases missing"
**Describe the bug**
The test cases for the code are missing which makes it harder to verify any change(s) made to the code making testing a slow and manual process.

**To Reproduce**
N/A

**Expected behavior**
There should be unit cases with at most coverage possible.

**Screenshots**
N/A

**Additional context**
N/A

[2019-03-20 11:13] arush-sal commented on #56
@bhavin192 shouldn't we also have support for IRC??

[2019-03-20 15:11] djvs opened #58 "Customizable (or one-liner) notifications"
**Is your feature request related to a problem? Please describe.**
Just a nitpick, but the notifications for events such as "deployment created" are pretty large in size.

**Describe the solution you'd like**
You could probably easily fit all the info on one (Kind/Name/Namespace/Message/Cluster) into a single line, e.g., "${cluster}/${namespace} - ${kind} ${name}: ${message}".  If there are additi

[2019-03-24 02:36] sanketsudake opened #60 "Add Microsoft Teams suppport"
**Describe the solution you'd like**
We got a couple of requests for Microsoft Teams support at Kubernetes Days India. Need to explore possible integration.
https://products.office.com/en-US/microsoft-teams/group-chat-software

[2019-03-25 05:37] ssudake21 commented on #26
Work in progress with PR  #55

[2019-03-26 08:23] ssudake21 opened #62 "Report Botkube and Kubernetes version in ping command"
**Describe the bug**
Currently we just respond with cluster name in response to ping command. We should also report Kubernetes version and BotKube version

[2019-03-26 08:28] ssudake21 opened #63 "Add Skip field BotKube Event"
**Describe the bug**
We need to add Skip field in BotKube struct so that if any of filters ask to skip the reporting of the event to slack, we should be able to that.
Filter Engine should not pass event further if it observes Skip fieldset.

**Expected behaviour**
Filter sets Skip field in BotKube Struct, FilterEngine should stop processing event.

**Additional context**
We had a use case where a

[2019-03-26 08:30] PrasadG193 opened #64 "[BUG] Do not dump auth token in `@BotKube notifier showconfig` command response"
**Describe the bug**
As of now, `@BotKube notifier showconfig` command responds with BotKube config containing BotKube auth Token. We should hide the token in config body

**To Reproduce**
`@BotKube notifier showconfig`

**Expected behavior**
BotKube auth token should not be accessible via command responses as will as logs of the BotKube backend

[2019-03-27 04:31] PrasadG193 commented on #53
Fixed with https://github.com/infracloudio/botkube/pull/59

[2019-03-27 04:31] #53 closed

[2019-03-27 04:56] PrasadG193 opened #66 "[BUG] Add a way to set Log level"
**Describe the bug**
Currently, there is no way to change logging level. We should be able to set logging level by setting `LOG_LEVEL` env var

[2019-03-28 05:22] ssudake21 opened #69 "Automatically generating changelog for BotKube"
**Is your feature request related to a problem? Please describe.**
Currently we are not tracking changelog across releases.

**Describe the solution you'd like**
Auto-generate changelog for through GitHub commits and PRs.
Consider using https://github.com/github-changelog-generator/github-changelog-generator

[2019-03-28 05:24] ssudake21 opened #70 "Using Github releases for BotKube"
**Is your feature request related to a problem? Please describe.**
Use Github releases for distributing BotKube artifacts and notifying community for new releases.

**Describe the solution you'd like**
Use Github releases for distributing new artifacts.
Currently, we are considering using either of tools,
https://github.com/itchio/gothub
https://goreleaser.com/

[2019-03-28 05:25] #66 closed

[2019-03-28 05:33] PrasadG193 opened #71 "Capability to disable specific filters"
**Is your feature request related to a problem? Please describe.**
There should be a way to enable/disable running of particular filters.

**Describe the solution you'd like**
I configuration file, we should be able specify the list of filters we want to run

[2019-03-28 06:38] PrasadG193 opened #72 "Restart BotKube pod if configmap is updated"
**Is your feature request related to a problem? Please describe.**
BotKube pod should be automatically restarted if someone edits the botkube-configmap in runtime so that BotKube controller starts using with the updated config. This will reduce effort of redeploying complete BotKube stack just for minor configuration changes

**Describe the solution you'd like**
We already have informers registere

[2019-03-28 11:49] PrasadG193 commented on #64
Fixed with https://github.com/infracloudio/botkube/pull/65

[2019-03-28 11:49] #64 closed

[2019-03-28 11:50] PrasadG193 commented on #63
Fixed with https://github.com/infracloudio/botkube/pull/67

[2019-03-28 11:50] #63 closed

[2019-04-02 17:26] bhavin192 commented on #26
- [ ] https://github.com/infracloudio/botkube-docs/pull/18

[2019-04-03 09:26] #62 closed

[2019-04-03 12:26] PrasadG193 commented on #72
We are using `https://github.com/fsnotify/fsnotify` to get local file change events instead of handling k8s configmap events.

[2019-04-03 12:32] #72 closed

[2019-04-04 13:20] bhavin192 commented on #26
Closing this as #76 and https://github.com/infracloudio/botkube-docs/pull/18 are merged now

[2019-04-04 13:20] #26 closed

[2019-04-16 07:01] altairo2087 opened #81 "[BUG] mattermost self-signed certificate"
**Describe the bug**
I have private mattermost server with self-signed certificate. I'm tried to add custom CA to docker container.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add custom CA certificate to /usr/local/share/ca-certificates
2. Run docker container with `/bin/sh -c "apk add --update --no-cache ca-certificates && update-ca-certificates --fresh && /go/bin/botkube" `

*

[2019-04-24 17:39] PrasadG193 commented on #24
Initial proposal document: https://github.com/PrasadG193/botkube/blob/filters-goplugin/design/dynamic-filters-loading.md

Open questions:
- Should we use volumes to store downloaded plugins?
- We can have a dedicated GitHub repo (like botkube-filters) which will contain standard plugins. And we can include these plugins as defaults in BotKube docker image. Any thoughts?

cc: @ssudake21

[2019-04-30 11:26] PrasadG193 commented on #71
Fixes: https://github.com/Macrometacorp/C8Platform/issues/324, https://github.com/Macrometacorp/C8Platform/issues/320 and https://github.com/Macrometacorp/C8Platform/issues/216

[2019-04-30 20:27] malozanoff opened #85 "[BUG] Fresh deploy in Kubernetes 1.14.1 not working"
**Describe the bug**
Installed Slack App in a channel, ran the kubernetes deploy both via kubectl apply and helm (same issue), the bot is in the channel, it sends notifications, it responds to ping but does not respond to any other command.

A look at the logs from the backend pod shows:
`INFO[2019-04-30T18:49:54Z] Invalid request. Dumping the response`

**To Reproduce**
Steps to reproduce the beh

[2019-05-06 08:29] PrasadG193 commented on #85
Hi @malozanoff ,
I tried to reproduce the issue with BotKube v0.7.0 and K8s v1.14.1 on minikube. I didn't find any issue while executing any commands. I am passing `--set config.communications.slack.channel=alerts` where `alerts` is a private channel and I have already invited BotKube on that channel. Could you please tell me, what channel name you are using (i.e format of channel name)? Also, cou

[2019-05-07 03:49] PrasadG193 commented on #85
Turned out to be a configuration problem. Hence closing the issue.

[2019-05-07 03:49] #85 closed

[2019-05-09 07:22] PrasadG193 commented on #71
Fixed with: https://github.com/infracloudio/botkube/pull/84

[2019-05-09 07:22] #71 closed

[2019-05-09 08:40] hijak opened #87 "[BUG] crashloop for mattermost bot on new deploy"
**Describe the bug**
I am unable to use botkube with mattermost, am facing the following error

**To Reproduce**
i have tried deploying from the helm chart and via the yaml file. all needed config for mattermost is configured correctly

[code]

[2019-05-09 08:53] arush-sal commented on #81
this has been fixed

[2019-05-09 09:27] hijak commented on #87
oh also my mattermost server has valid letsencrypt cert referfencing other issue

[2019-05-09 12:47] PrasadG193 commented on #81
Fixed with https://github.com/infracloudio/botkube/pull/83

[2019-05-09 12:47] #81 closed

[2019-05-09 17:58] bhavin192 opened #88 "Image tag in Helm chart should be configurable"
**Is your feature request related to a problem? Please describe.**
If we build BotKube image for some bug fix or want to use image with a tag like `latest` then one should be able to set that image tag while installing BotKube with Helm chart.

**Describe the solution you'd like**
Changing the version from `Chart.yaml` is not a clean solution, also it won't allow to set it to tag values which are

[2019-05-10 09:09] hijak commented on #87
Hi

i have managed to get this working by setting the mattermost url to be the internal dns name with in the cluster. Im guessing it has something to do with mattermost being behind something

also ive noticed that the attatchments in mattermost are not using correct colors, as far as i know mattermost cannot interpret `danger` and `primary` type colors and you have to use hex

[2019-05-10 09:13] PrasadG193 commented on #87
Hey @hijak,
What is the version of Mattermost you are using?

[2019-05-10 09:30] hijak commented on #87
Mattermost Version: 5.10.0

[2019-05-10 09:44] mugdha-adhav commented on #87
Hi @hijak,
A pull request #83 is already created for fixing the issue and we are working on it.

[2019-05-13 16:44] bhavin192 opened #90 "Make target for building BotKube binary"
https://github.com/infracloudio/botkube/pull/79#discussion_r283204719

We can have something like `make container-image` as target to build container image

[2019-05-15 10:15] PrasadG193 opened #91 "Make develop as a default branch"
**Is your feature request related to a problem? Please describe.**
We should make develop as a default branch.
There should be a CI job which builds `:latest` image once any PR gets merged into develop

[2019-05-17 18:34] bhavin192 commented on #88
Fixed by #89

[2019-05-17 18:34] #88 closed

[2019-05-18 13:09] vitobotta opened #95 "Include job status (succeeded/failed) with notification"
**Is your feature request related to a problem? Please describe.**
Hi, I am trying BotKube but I am not sure if this is already possible. I would like to receive notifications when jobs are completed, including the status, so that I know whether the job failed or succeeded. This is particularly useful for scheduled backups.

**Describe the solution you'd like**
From what I can see, at the moment I

[2019-05-19 06:29] PrasadG193 commented on #95
Hi @vitobotta ,

Can you please let me know what command format you are using?

[2019-05-19 14:37] PrasadG193 opened #96 "Add "error" option to resource level BotKube config"
**Is your feature request related to a problem? Please describe.**
As of now, if someone is interested in getting only error/failure events for particular resources, he/she has to add following configuration in BotKube:
[code]
This is quite difficult to read and understand. There should be an easier way to configure this.

**Describe the solution you'd like**
Instead of having `events` as a separa

[2019-05-26 08:58] kingdevnl opened #97 "Add support for Discordapp"
**Is your feature request related to a problem? Please describe.**
It would be nice if we can get support for discordapp.com
There is no software like this out there that has support for discord.
There are plenty of API Wrappers for discord out there
(Link to a wrapper for golang:) https://github.com/bwmarrin/discordgo

**Describe the solution you'd like**
Discord has a rich API and Role based sec

[2019-05-31 16:05] bhavin192 commented on #91
`develop` is now default branch and with #93 and #94, the container image with `latest` tag is build from latest commit from develop

[2019-05-31 16:06] #91 closed

[2019-06-04 09:02] #96 closed

[2019-06-06 05:50] #87 closed

[2019-06-07 07:20] #90 closed

[2019-06-10 17:39] imazik opened #102 "[BUG] unable to find service account in clusterrolebinding."
I installed botkube manifests using kubectl, all the resources created in default namespace. In clusterrolebinding serviceaccount namespace is `botkube` that's why it is unable to get that service account and I am getting this error.
[code]
[code]
**Log of botkube pod**
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]

[2019-06-10 18:08] #102 closed

[2019-06-10 18:09] imazik commented on #102
sorry it is not an issue -
`kubectl create ns botkube && kubectl create -f deploy-all-in-one.yaml -n botkube`
still it is confusing.

[2019-06-10 18:17] imazik commented on #102
sorry it is not an issue -
```kubectl create ns botkube && kubectl create -f deploy-all-in-one.yaml -n botkube```

[2019-06-12 10:35] PrasadG193 opened #103 "[BUG] BotKube is sending older events when configured to watch update events"
**Describe the bug**
A clear and concise description of what the bug is.

When BotKube is configured to watch update events of the resource. Each time when BotKube restarts, we are getting older update event for that pod

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy BotKube to watch updates on job resource:
[code]
2. Create/delete jobs
3. Restart BotKube and you should get notificat

[2019-06-13 06:30] #69 closed

[2019-06-13 19:05] markjayniel opened #105 "[BUG] "Invalid Request. Dumping the Response" error when running command on slack"
Hi - I am currently testing and playing around with this. Everytime I run "@botkube get pods" on slack, it does not give any response. I looked at the logs and I get below error:
[code]
I ran both helm and deploy all yaml file kubernetes manifests and both gave the same error. Am I missing anything? I setup the slack channel, the token, cluster name, and "allowkubectl: true" so I assume everything

[2019-06-13 19:47] markjayniel commented on #105
ahhh found the fix! the problem was the slack channel. I was adding "#" on slack name when its not really needed.

[code]
when it should be:
[code]

[2019-06-13 19:47] #105 closed

[2019-06-19 11:32] PrasadG193 commented on #103
Not a bug. Turns out my local system's time on which I was running BotKube binary was different than the instances on which K8s cluster was running. Hence closing the issue.

[2019-06-19 11:32] #103 closed

[2019-06-21 07:15] PrasadG193 opened #107 "[BUG] Timestamp is missing in the BotKube error events"
**Describe the bug**
Timestamp in Slack notifications is missing in error events

![Selection_133](https://user-images.githubusercontent.com/7098659/59904891-53f6e880-9422-11e9-91a7-4af94ea13a76.png)

**Expected behavior**
We should see the timestamp in the footer of the notification just like what we see in create/delete events

[2019-06-25 06:00] #95 closed

[2019-06-25 06:00] PrasadG193 commented on #107
Fixed with https://github.com/infracloudio/botkube/pull/108

[2019-06-25 06:00] #107 closed

[2019-06-25 06:27] #70 closed

[2019-06-25 07:26] PrasadG193 opened #110 "Notify user to upgrade if newer version is available"
**Is your feature request related to a problem? Please describe.**
BotKube user should be notified to upgrade BotKube backend if newer version released.

**Describe the solution you'd like**
As of now, we have decided to check and notify on the following events:
- on BotKube backend startup
- check for updates periodically and notify user once

[2019-06-26 08:19] #110 closed

[2019-07-02 07:50] PrasadG193 opened #113 "`BotKube filters list` should give one liner description about the listed filters"
**Is your feature request related to a problem? Please describe.**
Sometimes, it becomes hard to figure out what the filter is exactly doing from the name
![image](https://user-images.githubusercontent.com/7098659/60494217-f6895400-9ccb-11e9-89ac-eed9f94a6a58.png)

**Describe the solution you'd like**
Along with Filter name and status, `BotKube filters list` should have an additional column `Descr

[2019-07-03 08:10] #113 closed

[2019-07-03 10:31] PrasadG193 opened #115 "[BUG] Commands shouldn't need @BotKube prefix if posted as DM to BotKube user"
**Describe the bug**
It feels kind of weird to add @BotKube prefix in the commands when posting as direct message to BotKube

**Expected behavior**
BotKube should serve commands with or without @BotKube prefix if posted as DM

[2019-07-05 12:23] PrasadG193 commented on #115
Same behaviour observed on Mattermost integration. Reopening the issue

[2019-07-08 09:22] #115 closed

[2019-07-08 09:22] PrasadG193 opened #121 "[BUG] BotKube should trim whitespaces in the command"
**Describe the bug**
Currently, BotKube trims whitespaces in the Kubectl command but not in all BotKube commands like `@BotKube filters      list`

**To Reproduce**
Execute the following command in the Slack window `@BotKube filters     list`

**Expected behavior**
BotKube backend should trim whitespaces in the command internally and returns the correct result

[2019-07-08 09:41] #121 closed

[2019-07-08 15:48] PrasadG193 opened #123 "[BUG] BotKube sends older update events after resync"
**Describe the bug**
Default resync period of BotKube is 30mins. If BotKube is configured to inform about update events, it sends update event notification after resync.

**To Reproduce**
1. Configure BotKube to receive update events of a resource (e.g job)
2. Wait for 30mins i.e default resync period
3. After resync, you will see older update event notifications

**Expected behavior**
BotKube sho

[2019-07-09 08:33] #123 closed

[2019-07-11 08:18] bilaloslo92 opened #126 "[BUG] Botkube 0.8.0 - crash loop - invalid memory address or nil pointer deference"
**Describe the bug**
I have tried to deploy Botkube version 0.8.0 (which was recently released), I am using the deploy-all-in-one-tls.yaml to deploy it in my Kubernetes cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. I am running mattermost server version: 5.11.0
2. Kubebot version 0.8.0
3. Deploy the deploy-all-in-one-tls.yaml with TLS (self-signed certificates)
4. See error:

[cod

[2019-07-12 06:35] PrasadG193 commented on #126
@bilaloslo92 Could you please post your configuration here (make sure you remove sensitive info like certs and tokens)?

[2019-07-12 06:39] PrasadG193 commented on #126
Are you encoding certificate before creating secret?
`cat <YOUR_CERTIFICATE> | base64 -w 0`

[2019-07-15 07:38] bilaloslo92 commented on #126
Hi @PrasadG193 ! Thanks for your reply.  See attached config (removed credentials, clustername, and mattermost configuration).

[code]

[2019-07-15 07:53] PrasadG193 commented on #126
Just wanted to make sure:
1. Are you passing correct config in
[code]
2. Are you passing encoded self signed certs in
[code]

[2019-07-15 08:10] bilaloslo92 commented on #126
1. Yes, I am passing Mattermost token, url, etc in that section which works.
2. Yes, I am passing the base64 encoded CA certificate.

Thanks for quick reply.

[2019-07-16 09:05] PrasadG193 commented on #126
@bilaloslo92 Are you creating BotKube in `botkube` namespace?

[2019-07-16 09:52] PrasadG193 commented on #126
Also, please verify if secret is getting populated properly with -
`kubectl get secret botkube-secret -n botkube -oyaml`

[2019-07-17 06:39] bilaloslo92 commented on #126
@PrasadG193  - I have tried to create BotKube in multiple namespaces. Is there any restrictions in which namespace it is created in?

I can confirm the secret is populated. BotKube is able to communicate with Mattermost and send notifications, however the pod is restarted because of the error in the inital post. Thats why I am also being spammed by the notification: `...and now my watch begins for

[2019-07-17 07:06] PrasadG193 commented on #126
@bilaloslo92 If you want to deploy BotKube in a different namespace, you need to modify the `namespace` field in the `ClusterRoleBinding` resource accordingly.

The Pod crashing issue indeed looks strange to me. I am not able reproduce this on my setup. I'll keep looking into this.

[2019-07-17 08:11] bilaloslo92 commented on #126
@PrasadG193  I have changed the `namespace` in the `ClusterRoleBinding` accoundingly. It is very strange, I am also unsure why this happens. I have made as few modifications as nececcary. Hopefully you are able to find out the issue. Do you get any suggestion on what it could be based on the error?

[2019-07-21 23:24] davidholsgrove opened #128 "Exclude or Ignore Namespaces"
**Describe the solution you'd like**
Would be great to be able to watch all namespaces *except* a list of namespaces to ignore

**Describe alternatives you've considered**
Defining a list of namespaces to watch (i.e not using 'ALL') implies a fixed and static list of namespaces known ahead of time.

[2019-07-26 06:29] #58 closed

[2019-07-26 07:25] PrasadG193 opened #129 "Add kubesec-scan support to BotKube"
**Is your feature request related to a problem? Please describe.**
BotKube should scan Kubernetes resources with [kubesec.io](https://github.com/controlplaneio/kubesec) and send report to the user when a resource is created

**Describe the solution you'd like**
BotKube should have a configuration flag (something like `kubesec-scan=true/false`)  through which we can enable/disable the feature

[2019-07-26 07:55] PrasadG193 opened #130 "Add support to perform a vulnerability scan on container images"
**Is your feature request related to a problem? Please describe.**
BotKube should perform a vulnerability scan on the container images when pod is created and report CVE report to the user

**Describe the solution you'd like**
- We can use [Clair](https://github.com/coreos/clair) to perform vulnerability static analysis container images
- BotKube should have ability to disable/enable this feature

[2019-07-26 10:36] aananthraj commented on #130
I would like to add some points here.

- Implementing this feature as an "on demand vulnerability scan" using botkube commands, would be nice.
- Running scans on all pods by default, would lead to repetive scaning of images, for instance during scaling of replias, and we might need a mechanism to know if the image was scanned already.

[2019-07-26 10:41] PrasadG193 commented on #130
@aananthraj totally agree with you. This will also add the overhead of deploying Clair as a part for BotKube deployment, we need to search for the better option if there is any

[2019-07-26 10:46] aananthraj commented on #130
Yes @PrasadG193 , I guess we could create/excute a kubernetes job for this instead of creating a permanent clair deployment of clair. The same holds good for #129. Let me know your opinion..?

[2019-07-26 10:48] PrasadG193 opened #131 "Send more info with update resource notification"
**Is your feature request related to a problem? Please describe.**
BotKube, when configured to send update events on resources, sends only `Resource updated` message with the notification which doesn't make much sense. Instead, it should also provide information about what has changed with that update

**Describe the solution you'd like**
BotKube should provide resource spec diff or about the fiel

[2019-07-26 10:52] PrasadG193 commented on #129
@aananthraj JFYI, we are thinking categorizing and writing filters for the rules mentioned here: https://kubesec.io/basics/. That will give up more flexibility to disable/enable checks and have well-documented messages in the notifications

[2019-07-26 10:54] PrasadG193 commented on #130
Yeah, that is also one way

[2019-07-27 07:52] aananthraj opened #132 "Annotations Based Multi-Channel support"
**Is your feature request related to a problem? Please describe.**
Presently, Botkube sends all the notifs to a particular channel. An organisation with mulyiple teams governing individual services would require seperate notif channel to moniter their deployed services.

**Describe the solution you'd like**
Kubenetes resources when annotated with, for instance `botkube.io/channel: frontend`
Botkub

[2019-07-27 08:06] aananthraj opened #133 "Annotations based enable/disable notifications for a particular object."
**Is your feature request related to a problem? Please describe.**
Disable notification for a particular noisy resource ( least important or consistantly crashing pod) based on
Kubernetes annotations at run time.

**Describe the solution you'd like**
Adding an annotation to a kubernetes resource at run time, for instance `botkube.io/disable-notif: true`
will skip the notifications from being sent

[2019-07-27 10:30] aananthraj opened #134 "Node Level Critical Events using filters"
**Is your feature request related to a problem? Please describe.**
Notifications for Node level critical events like NodeNotReady, NodeRebooted and NodeReady can be added.

**Describe the solution you'd like**
Provide Red Alert Notifications on NodeRebooted, NodeNotReady, etc. using filters.

[2019-07-28 16:03] blancsys opened #135 "Show Docker Image Tag on Deployments"
Hi, this bot looks awesome, it has a lot of great features, good work.

I', trying to find a bot that is able to notify about the upgrades of docker images.

For example, let's suppose that we are running a k8s Deployment that uses using a Docker image tagged as "myapp:v0.1.0" Then, we upgrade that deployment to a newer image ("myapp:v0.2.0"). I would like to see a bot message on Slack showing tha

[2019-07-29 01:54] aananthraj commented on #135
Hi @blancsys, FYI we get a generic notifications on update events (Resource Updated), which has no info about the actual change happening in under the hood. i.e, it isn't supported right now.

However Feature Request #131 covers this and it is in the roadmap (Comming soon).

[2019-07-29 04:58] sanketsudake opened #136 "Improve test coverage for BotKube"
**Is your feature request related to a problem? Please describe.**
Currently we lack any kind of integration test or unit tests for BotKube. We plan to increase test coverage and add basic suite of tests for BotKube verification.

**Describe the solution you'd like**
1. Improved test coverage for BotKube
2. Run code coverage tools if possible to cover as much as current code.

**Additional context

[2019-07-29 05:14] ssudake21 opened #137 "Migrate BotKube to Go modules"
**Describe the solution you'd like**
Currently we use `dep` for dependencies management. We need to migrate Go modules for improved dependency management.

[2019-07-29 14:37] blancsys commented on #135
Thanks for your info! Let's wait for v0.9.0 then

[2019-08-05 09:25] #137 closed

[2019-08-06 14:13] iamvvra opened #142 "Pod keeps restarts as the registered watcher says "Config file /config/config.yaml is updated""
1st, this project is good. I came here by chance before I wanted to write my own cluster event listener (kind of) to publish events directly to Mattermost.

Though I have deployed this bot in my Openshift cluster running on-premise, I have trouble running it.

**Describe the bug**
The deployed pod keeps restarting as the registerd watcher of the `config/config.yaml` says the file was modified. The

[2019-08-06 14:20] PrasadG193 commented on #142
Hi @iamvvra ,
Are you using correct Mattermost URL? Because I see Mattermost is unreachable through the logs.

[2019-08-06 14:37] iamvvra commented on #142
Yes, this log has that issue, but I fixed that by providing OCP `route` url - however, the initial messages reach Mattermost. See the screenshot
<img width="984" alt="Screenshot 2019-08-06 at 8 05 01 PM" src="https://user-images.githubusercontent.com/8179108/62549093-856a2d00-b885-11e9-9ba7-9e4025976f17.png">

[2019-08-06 14:43] PrasadG193 commented on #142
Are you still getting config update logs after setting OCP `route` url?

[2019-08-06 14:53] iamvvra commented on #142
Yes, the get the same error even after I change it to a route, most recent deployment log for your ref. But, was that the cause of this issue?

![Untitled 2](https://user-images.githubusercontent.com/8179108/62550261-9320b200-b887-11e9-91cd-9521348123d3.jpg)

[2019-08-06 15:02] PrasadG193 commented on #142
That's strange. I hope you are using the latest release for deployment. Which cluster you are using? Also is there some process/job which might be updating the configmap? Could you please watch and tell me the status of configmap `botkube-configmap`?
Could you please post output of `@BotKube version`?

[2019-08-06 15:25] iamvvra commented on #142
I am using the latest one v0.8.0. However, I tried to run this in my AWS EKS cluster with no restart (though the bot couldnt reach my Mattermost). There is no other jobs or process in this namespace to modify this configmap. As the pod keeps restarting I am attaching the event log.

<img width="750" alt="Screenshot 2019-08-06 at 8 39 50 PM" src="https://user-images.githubusercontent.com/8179108/62

[2019-08-06 15:28] PrasadG193 commented on #142
Could you please send logs of the BotKube pod? Also please make sure that you are using the latest helm chart from `v0.8.0` branch while deploying

[2019-08-06 16:05] iamvvra commented on #142
Log attached. I configured fromm your release branch source.

[botkube.log](https://github.com/infracloudio/botkube/files/3473123/botkube.log)

[2019-08-06 16:22] PrasadG193 commented on #142
[code]
Are you using correct token? Can you please try regenerating token?

[2019-08-07 01:51] aananthraj commented on #142
Hi,
I guess there are some issues with mattermost latest version.
- Got this same error, when tried to setup mattermost and botkube in my local (few weeks before).
Checked by generating mutiple tokens(user and bot tokens), but session was expiring instantly.
- got CORS error as well due to client4 model in mattermost-server go pkg. Try adding CORS settings in mattermost config file

So it is good

[2019-08-07 05:21] iamvvra commented on #142
@aananthraj I am running the bot in log level set to debug, also, I have provided one of the log in this thread. Moreover, I got the same error having tried with previous `v0.7.0` version.

Having tried with new token today, I get the same error `Error connecting to Mattermost`, additionally with `Segmentation violation` - error below.

INFO[2019-08-07T05:07:18Z] Config file /config/config.yaml is

[2019-08-07 05:48] iamvvra commented on #142
An update, I find the connectivity to Mattermost is now established, however the pod continues to restart assuming the `/config/config.yaml` has changed. I will see in my side if any monitoring agents or tools provokes this false change alert.

<img width="1450" alt="Screenshot 2019-08-07 at 11 16 22 AM" src="https://user-images.githubusercontent.com/8179108/62597819-d8cf9000-b904-11e9-9644-f43c07

[2019-08-07 05:50] PrasadG193 commented on #142
@iamvvra please don't use the older version of BotKube with newer helm charts. Which version of Mattermost you are using? We have tested it with Mattermost v5.11.1. We are trying to understand if issue is with latest version of Mattermost or from client side.

[2019-08-07 05:54] iamvvra commented on #142
<img width="599" alt="Screenshot 2019-08-07 at 11 21 07 AM" src="https://user-images.githubusercontent.com/8179108/62598003-7925b480-b905-11e9-8782-6d6f62c138b7.png">

[2019-08-07 06:12] PrasadG193 commented on #142
Can you please try with v5.11.1+ version?

[2019-08-07 06:34] iamvvra commented on #142
Sure, I'll try that.

[2019-08-07 12:19] PrasadG193 opened #143 "[Refactoring] Use SharedInformerFactory instead of cache.NewInformer to watch K8s resources"
**Is your feature request related to a problem? Please describe.**
We should use SharedInformerFactory which has the following advantages over cache.NewInformer:
- Allows to have multiple instances of BotKube running without having duplicate events
- Works with Fake client (https://godoc.org/k8s.io/client-go/kubernetes/fake)

[2019-08-07 15:30] iamvvra commented on #142
I have deployed the said Mattermost 5.11.1 app separatel. The BotKube reacts the same assuming the config.yaml was modified, keeps restarting the pod. However, the initial notification hits the Mattermost. I am not attaching logs as it was similar to one provided earlier.

Version & the channel the BotKube sends notifications. You can see multiple notifications everytime the pod restarts.

<img wi

[2019-08-07 15:42] iamvvra commented on #142
Is this have anything to do with Websockets?

[2019-08-08 03:17] aananthraj opened #144 "Unit-Test code in Travis"
**Is your feature request related to a problem? Please describe.**
It is essential to Unit-Test the code during each build to ensure that, the code changes made don't break any existing features.

**Describe the solution you'd like**
- add `make test` subcommand to Unit-test locally
- add `make test` to .travis.yml to Unit-Test code in Travis build

**Describe alternatives you've considered**
Unit

[2019-08-08 09:20] aananthraj commented on #57
Looks similar to #136
I guess this can be closed

[2019-08-08 11:52] #144 closed

[2019-08-08 11:54] PrasadG193 commented on #142
@iamvvra I don't think it is a problem related to communication. Could you please verify that any other service is not updating `botkube-configmap`?

[2019-08-08 14:05] cyberox commented on #142
I'm having the same issue trying to connect Botkube 0.8.0 to slack on OpenShift.
I receive the same messages in slack, so the communication with slack is working. The pod keeps restarting because of the config.yaml change.

[2019-08-08 15:02] aananthraj opened #147 "[BUG] Update and Error events of old resources are skipped"
**Describe the bug**
botkube skips the latest update, error event notifications of old resources available in the cluster. i.e, resources that were already existing before starting botkube.

**To Reproduce**
Steps to reproduce the behavior:
1. add config to watch update/error events in config.yaml
2. start/restart botkube server
3. change/modify the some old resources
4. notice that update/error e

[2019-08-08 16:11] PrasadG193 commented on #147
Good catch @aananthraj  :). But I believe this is already fixed as a part of https://github.com/infracloudio/botkube/pull/146

[2019-08-08 16:15] PrasadG193 commented on #142
I suspect if this is due to Kubernetes release. What version of K8s you are using? @cyberox @iamvvra

[2019-08-08 16:56] aananthraj commented on #147
Omg didnt see this comming through :eyes:

Is this completely fixed.?
I inspected for this bug and found it in #146 branch as well, before raising this issue and its corresponding fix.
can you check once by replicating the above mentioned steps..?

[2019-08-08 18:29] cyberox commented on #142
I'm running OpenShift 3.11, based on Kubernetes 1.11.

[2019-08-09 05:58] ssudake21 opened #149 "Exploration: Botkube integration with PagerDuty"
**Is your feature request related to a problem? Please describe.**
We should be able to report incidents to pagerduty for critical alerts.
Similar integration can be considered for Cabot.
https://cabotapp.com/

**Describe the solution you'd like**
Explore https://v2.developer.pagerduty.com/ and design a solution which fits best for BotKube and PagerDuty.

[2019-08-09 07:15] aananthraj commented on #149
A more generic webhook notifier would be helpful.
This can prevent seperate integratiom several serives which can take in webhook payload and perform actions accordingly.

[2019-08-09 07:30] iamvvra commented on #142
![Screenshot 2019-08-09 at 12 58 53 PM](https://user-images.githubusercontent.com/8179108/62761941-972a1b00-baa5-11e9-9e11-a75e06a7a5e4.png)

[2019-08-09 07:38] PrasadG193 commented on #142
I tried reproducing the issue on K8s v1.11 - minikube, GKE and EKS, couldn't reproduce it. I think it has to do with how Openshift manages resources. I think it updates mounted files for some reason. For now, I am opening another issue to have an ability to disable config file watcher and disable automatic restart on config change

[2019-08-09 07:43] PrasadG193 opened #150 "Ability to disable config file watcher"
**Is your feature request related to a problem? Please describe.**
One should be able to disable auto restart on config file change through the BotKube configuration flags.

**Describe the solution you'd like**
We can add a flag like - `settings.configWatcher=true/false` to enable/disable this feature.

[2019-08-09 07:48] iamvvra commented on #142
Yes, a flag passed (helm too) on to the watcher to disable the auto reboot,  default being true.

[2019-08-09 09:09] aananthraj commented on #150
Looks cool to overcome bugs 👍 and get us unblocked for 0.9.0

[2019-08-09 09:22] PrasadG193 commented on #147
@aananthraj I have tested this on #146 with mentioned steps and seems to be working as expected. Let's wait for #146 to get merged then try reproducing again.

[2019-08-09 09:24] #143 closed

[2019-08-09 10:15] aananthraj commented on #147
sure, let me try now and update here.

[2019-08-09 10:34] aananthraj commented on #147
@PrasadG193 , still the issue exists

[code]
the following resources are still open to this issue

https://github.com/infracloudio/botkube/blob/d2d14cc026db4c3e5928a4c819650bc52199df33/pkg/events/events.go#L120-L123

https://github.com/infracloudio/botkube/blob/d2d14cc026db4c3e5928a4c819650bc52199df33/pkg/events/events.go#L140-L149

https://github.com/infracloudio/botkube/blob/d2d14cc026db4c3e5928

[2019-08-09 10:36] PrasadG193 commented on #147
Oh yes, you are right, let's fix this. Thanks a lot :slightly_smiling_face:

[2019-08-09 12:18] mrushdan opened #151 "Send Alert for Image Version Updates"
I am requesting customization to send an alert every time a container image version is updated.
When a new deployment is applied to the cluster, pods are created using the new image and I want to alert a slack channel about this new image referencing the service name/deploy name and namespace. i.e. "$SERVICE $IMAGE has been deployed to $NAMESPACE" or something like this.

[2019-08-09 12:20] PrasadG193 commented on #151
duplicate of https://github.com/infracloudio/botkube/issues/135

[2019-08-09 12:22] PrasadG193 commented on #151
@mrushdan this is getting tracked under https://github.com/infracloudio/botkube/issues/131. Hence closing this issue.

[2019-08-09 12:22] #151 closed

[2019-08-12 04:54] #150 closed

[2019-08-12 09:49] iamvvra commented on #142
I have tested this [fix](https://github.com/infracloudio/botkube/commit/a4813210483778604d212f1a6d5ce9d458da9251), it works!

<img width="1305" alt="Screenshot 2019-08-12 at 3 11 39 PM" src="https://user-images.githubusercontent.com/8179108/62856803-82eb5580-bd13-11e9-83f6-9fdc7b0c8bfe.png">

<img width="1415" alt="Screenshot 2019-08-12 at 3 10 30 PM" src="https://user-images.githubusercontent.com

[2019-08-12 14:11] #147 closed

[2019-08-12 17:08] #132 closed

[2019-08-12 17:08] #133 closed

[2019-08-12 17:57] karthimohan opened #153 "Information being collected from the BotKube"
Hi,

Looks like a good tool to monitor the K8s deployment. Before i deploy this to my primary cluster. I want to understand more about the information that is being collected from the K8s deployment by this BOT. Also do you guys store any of this collected information on your side. These details are critical before i get the sign off from my security team.

[2019-08-13 05:49] sanketsudake commented on #153
Hi @karthimohan

We do not collect any information when BotKube is installed. All of components are hosted by BotKube users and they own their own information.

Our privacy page highlights this,
https://www.botkube.io/privacy/

[2019-08-15 05:24] rajinator opened #155 "Add basic proxy support for helm deployment"
**Is your feature request related to a problem? Please describe.**
No current way to add proxy info via values file

**Describe the solution you'd like**
Here is a minor change based on my understanding of gorilla websocket https://github.com/opensourcebapu/botkube/commit/406b2736a6775fcd51f2422dba431ea37ba948c9

[2019-08-17 05:07] aananthraj opened #157 "[BUG] empty namespaces in config file ignores all events"
**Describe the bug**
leaving the `Resources.Namespaces` empty in the config file ignores all event notifs for the resource
https://github.com/infracloudio/botkube/blob/72f2f198421d7754062ab5604946bcecdf494999/config.yaml#L2-L5

**To Reproduce**
Steps to reproduce the behavior:
1. Make `Resources.Namespaces` of a resource as empty
2. Start Botkube server
3. Trigger an event for the resource
4. See

[2019-08-17 05:15] aananthraj commented on #157
This is found to be expected behavior.
Hence closing this Issue.

[2019-08-17 05:15] #157 closed

[2019-08-17 12:03] aananthraj commented on #147
still, there are some issues with the event.New() implementation.

for instance, let's consider the following scenario
- deployment object gets created and gets `obj.Status.Conditions` before botkube is started
- botkube is started now
- an update event follows

https://github.com/infracloudio/botkube/blob/72f2f198421d7754062ab5604946bcecdf494999/pkg/events/events.go#L166-L172

**Problem:**
- sinc

[2019-08-18 16:07] aananthraj commented on #147
This issue will be fixed by #158

[2019-08-18 16:09] #131 closed

[2019-08-18 16:09] #135 closed

[2019-08-18 16:33] aananthraj commented on #153
I guess we can close this question.

[2019-08-18 22:39] rajinator opened #160 "[Kubernetes/Helm] Make cert usage generic"
**Is your feature request related to a problem? Please describe.**
Currently custom cert is only supported if the mattermost section is enabled, and a cert is specified for it. If behind a network that uses custom SSL, communications to slack or ELK won't work.

**Describe the solution you'd like**
Make cert support generic, move cert value, and logic out of the mattermost: block.

**Additional co

[2019-08-18 22:42] rajinator opened #161 "Run as non-root"
**Is your feature request related to a problem? Please describe.**
Currently the container runs as root, which is not ideal for security.

[code]

**Describe the solution you'd like**
For a more secure deployment, make changes to Dockerfile, k8s manifest and helm chart, to run as non root.

**Additional context**
Might add a PR with example code soon.

[2019-08-18 22:58] rajinator commented on #160
Here are example changes for making cert usage generic. will open a PR after #156 is merged, since this contains those changes https://github.com/opensourcebapu/botkube/commit/765bd87edeb9ac002527a06c543ab7c8c7e764ce

[2019-08-19 06:09] sanketsudake commented on #153
@karthimohan  I hope my reply above answers your question. Let me know if you any further queries. Closing this issue now.

[2019-08-19 06:09] #153 closed

[2019-08-19 06:56] PrasadG193 commented on #153
@karthimohan we can join our Slack workspace http://join.botkube.io/ in case you have any further doubts. We would be happy to resolve it

[2019-08-20 05:52] #155 closed

[2019-08-20 07:19] #128 closed

[2019-08-21 04:22] aananthraj commented on #129
I would like to add few points here.

Instead we could use the kubesec go pkg which is readily available.

 **Reference**:
https://github.com/controlplaneio/kubesec/blob/c09700148b299b61d06b392031f6e1eada4be543/pkg/server/server.go#L98

[2019-08-21 04:26] #134 closed

[2019-08-21 06:30] sanketsudake commented on #57
Closing as duplicate of #136. Please follow #136 for further updates.

[2019-08-21 06:30] #57 closed

[2019-08-22 08:54] PrasadG193 commented on #129
@aananthraj yes, we can write a filter to run this scan if it doesn't take much time to run. By default we should disable the filter. If use want, they can enable it using `@BotKube filters` command

[2019-08-26 06:50] PrasadG193 opened #165 "[Cleanup] Remove vendor"
**Is your feature request related to a problem? Please describe.**
Since we have switched to `go modules` for managing dependencies, we don't need vendoring anymore.

**Describe the solution you'd like**
We should remove `vendor` dir and let `go modules` to download and manage dependencies

[2019-08-26 12:05] #136 closed

[2019-08-26 12:19] #160 closed

[2019-08-26 16:28] #165 closed

[2019-08-30 04:03] aananthraj commented on #129
@PrasadG193 It's like Kubesec has cli inbuilt.
So we can just install kubesec binary inside the docker container and use kubesec commands directly (instead of creating a seperate filter)
[code]

[2019-08-30 10:05] PrasadG193 commented on #129
I think if it doesn't cause much overhead, better to run it as a filter. I think it just checks specs and does some validation just like we do in our filter. And one may not do a scan on every resource.

[2019-08-31 12:51] aananthraj commented on #60
I would like to add a few points here

Tried some experimentation on this and understood that

(views from github.com/poshbotio/PoshBot/ issues 68)

are we planning to implement the same?

for now, we could send event notifications through `incoming webhooks` in MsTeams.
creating a PR for the same.

[2019-09-01 05:15] PrasadG193 commented on #161
@aananthraj please let others know if you have picked up or want to work on an issue to avoid work duplication :slightly_smiling_face: You can assign task to yourself that will help in tracking the issue

[2019-09-01 05:21] PrasadG193 opened #171 "[Documentation] Add documentation about adding integration tests"
**Description**
Add documentation explaining e2e test framework and steps to add new tests

[2019-09-01 05:38] #161 closed

[2019-09-01 12:57] aananthraj commented on #161
Sure, will let others know 👍

I guess I dont have enough privileges to assign an issue to myself 😅.
Will ask one of you to do so 👍

[2019-09-02 13:59] aananthraj commented on #97
Discord go api clinet Ref : https://bwmarrin.github.io/discordgo/

[2019-09-03 13:54] kingdevnl commented on #97
@codenio Could you implement discord support?,
I don't know anything about golang :(

[2019-09-13 11:56] mstrYoda opened #176 "Setting default namespace while executing kubectl commands"
**Is your feature request related to a problem? Please describe.**
I could not see any configuration about default namespace to work with kubectl commands. So every time passing ns parameter is so verbose.

**Describe the solution you'd like**
It would be great to add namespace parameter to settings field in config.

**Describe alternatives you've considered**

**Additional context**

[2019-09-16 10:48] mstrYoda opened #178 "add @channel tag for slack alerts"
It could be great to configure alerts to mention channel for some events like deleted pods or namespaces.

[2019-09-16 11:18] codenio commented on #178
Can this be explained with an example.?

[2019-09-16 11:27] mstrYoda commented on #178
Well imagine to configure alerts like

mentionChannelForEvents:
  - delete

mentionChannelForResources:
  - pod

When a pod gets deleted slack message should contain `@channel` for specifying the importance of alert.

[2019-09-17 06:36] PrasadG193 opened #179 "Swich to github actions for CI builds"
Currently, we are using Travis for CI builds. We should remove third party app dependancy with Github actions.

[2019-09-17 11:32] mstrYoda opened #181 "[BUG] Botkube sends slack notifications multiple times for an event"
**Describe the bug**
I've delete a statefulset via helm and slack notification sent by botkube. But I watch the channel and it keeps sending notifications.

Botkube puts the time to the footer of notification as follows:
BotKube | Today at 1:25 PM

But even latest notifications at 2:14 PM contain same footer "BotKube | Today at 1:25 PM".

When I type `kubectl get events` there is not any event whi

[2019-09-17 11:33] PrasadG193 commented on #181
@mstrYoda What version of BotKube you are using? You can get version with `@BotKube version` command.

[2019-09-17 12:44] mstrYoda commented on #181
Output of the command is "BotKube version: v0.8.0"

[2019-09-17 15:16] PrasadG193 commented on #181
@mstrYoda I think this is already fixed in develop branch. Could you please try deploying BotKube with latest image. You can use the following command to use latest help chart
[code]

[2019-09-20 07:29] sanketsudake opened #182 "Expose prometheus metrics for BotKube"
**Is your feature request related to a problem? Please describe.**
We should expose different  metrics from BotKube.
Eg. No of resources scanned, no of events sent to communication channels. etc.

**Describe the solution you'd like**
1. These metrics can be displayed using @BotKube metrics
2. Expose these metrics to prometheus so that user can  build his dashboards in Grafana based on BotKube metr

[2019-09-20 07:33] PrasadG193 commented on #182
Ref: https://prometheus.io/docs/guides/go-application/

[2019-09-20 07:46] PrasadG193 commented on #181
@mstrYoda Please let us know if you see the problem in develop branch also

[2019-09-20 07:59] mstrYoda commented on #181
I've deployed botkube into our dev environment with specified configuration above. I will update my observation here when I deploy to production.

[2019-09-25 08:45] IngussNeilands opened #183 "Limit kubectl commands"
I would like to suggest adding option to limit specific kubectl commands.

For example - I would like to disable `describe secret` command, because it could reveal some sensitive data.

[2019-09-30 08:59] PrasadG193 commented on #183
@IngussNeilands we can restrict BotKube to access only specific resources by adding rules to in `Clusterrole` which is used by `botkube-sa` service account
https://github.com/infracloudio/botkube/blob/develop/helm/botkube/templates/clusterrole.yaml

[2019-10-02 06:38] gangseok514 commented on #126
Hello, I faced the same issue. I solved with adding event == nil check in mattermost.go.
In fact I don't know why event is nil. :)

[2019-10-02 09:08] bilaloslo92 commented on #126
Hi @gangseok514. Good that you managed to reproduce this issue. I hope this can be fixed in the next release, since I don't want to compile it from source. @PrasadG193 - When is next release comming up and could this be included?

[2019-10-03 06:17] PrasadG193 commented on #126
@gangseok514 Could you please raise the PR for the fix. Unless there are any surprises, we'll be releasing v0.9.0 by the end of this week or early next week

[2019-10-03 07:40] bilaloslo92 commented on #126
@gangseok514  - Could you please create an PR ? Since you managed to solve the issue. So the fix can be released in v0.9.0 :)

[2019-10-04 03:40] #126 closed

[2019-10-06 14:39] PrasadG193 opened #185 "[BUG] File upload fails when output of "@BotKube log" it too long"
**Describe the bug**
When the output of `@BotKube` command is too long, the BotKube backend sends it as a file attachment. Currently, the file upload is failing in BotKube backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `@BotKube` command having long output e.g `@BotKube logs`
2. Check backend logs

**Expected behavior**
We should get long output in an uploaded file on Slack

[2019-10-06 17:25] #185 closed

[2019-10-10 09:46] PrasadG193 opened #191 "[BUG] Remove Deprecated API groups in K8s 1.16"
**Describe the bug**
K8s no longer supports `extensions` API group after 1.16. All the packages, deployment yamls need to be updated accordingly.

Reference: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-10-10 09:58] #191 closed

[2019-10-10 12:45] daegeun-ha opened #194 "[ERROR] unmarshal error from configmap.yaml"
There is an error from configmap.yaml, line number 184
after 'namespaces', neither include nor ignore isn't appear.
Maybe it is changed like below
---------------------------------------
namesapces:
  include:
    -all
  ignore:
    -

[2019-10-10 13:47] sanketsudake commented on #194
@daegeun-ha  Please include your configmap.yaml complete contents ?

[2019-10-10 13:51] PrasadG193 commented on #194
@daegeun-ha Please make sure you are using the latest helm chart and image: `infracloudio/botkube:latest`
https://github.com/infracloudio/botkube/tree/develop/helm/botkube

[2019-10-11 05:31] daegeun-ha commented on #194
Hello, Thank you for fast reply :)
@PrasadG193 latest helm chart also has the same problem
@sanketsudake my configmap.yaml is same as the original.
https://github.com/infracloudio/botkube/blob/develop/helm/botkube/values.yaml
problem line numbers are 183, 184

[2019-10-11 05:45] PrasadG193 commented on #194
Aah, I think we missed this while refactoring.

Correct format is:
[code]
I am assuming you are getting this error while executing `@Botkube notifier configmap`

@daegeun-ha Please feel free to make this change and raise a PR

[2019-10-11 09:27] #194 closed

[2019-10-12 02:58] codenio opened #199 "Support scheduled maintanence window/scilent hours"
**Is your feature request related to a problem? Please describe.**
In case of having a scheduled maintaince window or scilent hours,  botkube can be muted from pushing alerts to channels.

**Describe the solution you'd like**
Cron based maintance window support configurable thorugh config, botkube command

**Additional context**
Major time based control and automation can be added subsiquently

[2019-10-12 14:20] PrasadG193 opened #200 "Add support to monitor custom resources"
**Is your feature request related to a problem? Please describe.**
BotKube should monitor custom resources and report about their status in case of failures/success.

**Describe the solution you'd like**
Initial thoughts about the implementation:
We can create a CRD to register custom resource watcher
OR
Figure out a way to pass it through the BotKube config

[2019-10-16 05:39] shahbour opened #201 "[Mattermost] Bot stop responding to commands after a while"
**Describe the bug**
I did install botkube in kubernetes and configure it to work with Mattermost .
Every thing is good and working but after a while bot stop responding to commands to ping does not return any pong neither any command but I still receive the notification.

Deleting the pod so it is recreated fix every thing for a while

Logs does not show any thing , how can I increase the verbosi

[2019-10-16 05:41] PrasadG193 commented on #201
@shahbour could you please post the settings section in the configuration? (Make sure you remove sensitive info before posting)

[2019-10-16 05:45] shahbour commented on #201
Below is dump of the config map , i just used the default

[code]

[2019-10-16 06:25] PrasadG193 commented on #201
@shahbour Which version of k8s you are using? You can make logs more verbose by setting `--set logLevel: debug` while doing helm install or helm upgrade.

[2019-10-17 04:43] shahbour commented on #201
Ok i will try that , i am using version 1.16

[2019-10-18 04:51] vishal-biyani opened #202 "Are you using BotKube? We would love to hear!"
Hey Folks,

Please comment on this issue if you are using [BotKube](https://www.botkube.io). We would love to hear about:

1) How are you using BotKube?
2) What else would you love to see in BotKube?
3) If you are ok to share, please mention the name of the company/organization using BotKube. We will include it in the "Users of BotKube" list in README!
4) Feel free to get in touch with us on[ BotK

[2019-10-18 05:28] PrasadG193 opened #203 "Make update events configurable to watch only specific fields"
**Is your feature request related to a problem? Please describe.**
Currently, BotKube watches and sends notifications only about updates in `spec` of a resource when configured to watch `update` events
It should be configurable which resource fields we want watch and get notifications for when updated

**Describe the solution you'd like**
We can change `update` fields in configuration to -
[code]

[2019-10-18 06:43] daegeun-ha opened #204 "[BUG] Failed to list *v1beta1.Ingress: the server could not find the requested resources"
**Describe the bug**
When we get logs from running botkube pod, the error msg('E1018 06:30:18.211393       1 reflector.go:123] pkg/mod/k8s.io/client-go@v0.0.0-20190918160344-1fbdaa4c8d90/tools/cache/reflector.go:96: Failed to list *v1beta1.Ingress: the server could not find the requested resource') is repeated infinitely.

I think it is some problem of version difference. Because I saw related new

[2019-10-18 06:54] PrasadG193 commented on #204
@daegeun-ha as you know, after K8s 1.16, `extensions` apigroup is no longer valid. You should be migrating your resource specs to use correct apigroup.
Now coming back to error you are seeing in the logs, we have already added `Prerequisites` on the installation page. https://www.botkube.io/installation/

[code]
Since the endpoint of the Ingress resource has been changed, it needs at least K8s v1.

[2019-10-18 06:59] daegeun-ha commented on #204
Thank you for reply. However, after I removed ingress resource from BotKube configuration, error msgs still appear.
![no ingress](https://user-images.githubusercontent.com/37510916/67072578-25b2cb00-f1c0-11e9-8f93-5cf289d32972.png)
(There is no informer of ingress)
Is there another something I can do for it?

[2019-10-18 07:06] PrasadG193 commented on #204
What error do you see after removing ingress from the configuration?

[2019-10-18 07:08] daegeun-ha commented on #204
Same errors are printed

[2019-10-18 07:23] daegeun-ha commented on #204
Oh, now I got it.
After remove 'ingress' key and value from ResourceInformerMap (/pkg/utils/utils.go), error msgs don't appear now. Thank you for kind replies. :)

[2019-10-18 07:25] PrasadG193 commented on #204
The recommended fix would be to upgrade your cluster (for security and other reasons)

If you still want to use older apigroups, the hackish fix would be to revert this change: https://github.com/infracloudio/botkube/commit/8835dea14463e8d9110c17a1892704759f5e2b9f#diff-fb81b0a96eed5b010cfb081b3aef4431L106

[2019-10-18 07:30] daegeun-ha commented on #204
Thank you, I'll try it!

[2019-10-18 07:45] daegeun-ha commented on #204
It'll be great I can upgrade the cluster, but I'm just a new person on this company. By the way, your suggestion works well. Thank you again!

[2019-10-18 08:29] #204 closed

[2019-10-18 08:39] timstoop commented on #202
Hi,

So, I've been looking into this for a while now and although we have it deployed, we hardly do anything with it. We're just kinda keeping track of what will be possible at some point. What we think would be a really great addition that would make the bot very useful is something like scripted automated debugging. For instance, if a Pod fails due to OOMErrors, it would be very helpful if the b

[2019-10-18 10:24] daegeun-ha opened #205 "[BUG] ping message isn't filtered by Channel Id (mattermost)"
**Describe the bug**
ping message isn't filtered by channel id.

**To Reproduce**
Steps to reproduce the behavior:
1. Make two different channels in same mattermost team.
2. Figure one channel to botkube pod. (botkube pod only knows one channel)
3. Send 'ping' message from two different channels.
4. You can see 'pong' message in both channels!

**Expected behavior**
Only one figured pod that is fi

[2019-10-18 11:25] PrasadG193 commented on #205
@daegeun-ha By design `ping` and `kubectl` commands are expected to run anywhere. To execute kubectl commands outside of configured channel, you have to pass `--cluster-name` flag. `ping` command can run without `--cluster-name` flag. Please execute `/botkubehelp` if you have configured Slash command in Mattermost

[2019-10-23 08:33] daegeun-ha commented on #205
I checked it. Thanks :)

[2019-10-23 08:33] #205 closed

[2019-10-28 06:15] daegeun-ha opened #208 "Running kubectl command out of order"
**Is your feature request related to a problem? Please describe.**
When I type 'get pod -n monitoring' it works well.
But when I type like '-n monitoring get pod', although it is right syntax of kubectl command, botkube determines it is not available command.
It is because before run some kubectl commands, it watch the first argument and determine whether it is included in 'validKubectlCommands' o

[2019-11-01 10:11] shahbour commented on #201
I did update to logLevel=debug and i am seeing the debug logs

[code]

now it stopped replying to my commands and nothing in logs?

Does it support trace or any log message that confirm message is received ?

[2019-11-04 18:19] BarakStout opened #210 "[BUG] botkube.io is not accessible"
You website [botkube.io](https://botkube.io) is down

[2019-11-05 06:37] PrasadG193 commented on #210
[botkube.io](www.botkube.io) is reachable

[2019-11-05 06:37] #210 closed

[2019-11-07 11:02] PrasadG193 opened #211 "Pass BotKube communication settings as a K8s Secret"
**Is your feature request related to a problem? Please describe.**
BotKube config contains sensitive info like Tokens which is passed to backend via ConfigMap. We should pass the communication setting as a K8s Secret. Also, restrict BotKube to access Secret resources using `@BotKube` commands by default

[2019-11-07 11:12] PrasadG193 commented on #201
Could you please see the reason by describing the Pod/Deployment?

[2019-11-08 10:15] shahbour commented on #201
no it does not , If i do delete the pod it work perfectly for some time .
I is always happening but i can't tell exactly what is triggering it some time it work for 5 hours , or 1 hour .
Nothing special from my side

[code]

as you can see restart is 0

[2019-11-08 10:33] PrasadG193 commented on #201
@shahbour have you setup Mattermost integration with self signed certs or without TLS?

[2019-11-08 10:34] shahbour commented on #201
I don't recall , how can I check ?

[2019-11-08 10:39] shahbour commented on #201
for Mattermost I use certificate from lets encrypt

[2019-11-08 10:39] PrasadG193 commented on #201
I see you have also set ssl.enabled=true in config.
[code]
Can you just verify once is there a secret named `botkube-secret` in botkube namespace?

[2019-11-08 10:40] shahbour commented on #201
i don't have `botkube-secret`

[2019-11-08 10:42] PrasadG193 commented on #201
Could you please share the `helm install` command you had used to install the backend?

[2019-11-08 10:53] shahbour commented on #201
This is the values.yaml I am using

[code]

[2019-11-08 13:43] PrasadG193 commented on #201
You have set `ssl.enabled=true` in the config you posted earlier. Can you please confirm that
https://github.com/infracloudio/botkube/issues/201#issuecomment-542528003

[2019-11-10 10:37] nabadger opened #212 "Aggregate pod status to reduce notification noise"
**Is your feature request related to a problem? Please describe.**

I find that most solutions in this area including (including botkube) do not provide the ability to rollup events.

Ideally I want to know at the Deployment level whether a rollout was successful or not. However, for this to work, you need to understand what the pods are doing, and then aggregate results back up.

My issue is that

[2019-11-12 06:13] PrasadG193 commented on #212
Hey @nabadger,
I think, part of this issue is being covered in https://github.com/infracloudio/botkube/issues/203. Could you please have a look and let me know if you have any suggestion. Please update the description accordingly.

[2019-11-12 10:38] shahbour commented on #201
sorry for late reply , yes ssl enabled was true in config map , I don't
recall how is it set as in the values.yaml it is not .

On Fri, Nov 8, 2019 at 3:43 PM Prasad Ghangal <notifications@github.com>
wrote:

--
Ali Shahbour

[2019-11-15 06:53] PrasadG193 commented on #32
@sanketsudake we should add BotKube to the stable/incubator repo now

[2019-11-15 07:20] sanketsudake opened #214 "Investigate Helm V3 support"
**Is your feature request related to a problem? Please describe.**
Recently Helm v3 was released. We should investigate how we can leverage Helm v3 recent features and any compatibility changes required in BotKube

**Additional context**
Helm V3
https://v3.helm.sh/docs/

[2019-11-15 18:47] venkateshmadala opened #215 "[BUG] Unable to get notifications when configmap chnaged on Kubernetes cluster"
Hi Team,
I have installed BotKube on my K8S cluster with Slack integration.
For edit events on configmaps we are not getting notifications on Slack. we are getting events for delete and create events on configmaps.

In the configmap I have added update  under configmap events.

[2019-11-19 11:48] PrasadG193 commented on #215
Hi @venkateshmadala ,
Currently, for update notifications, we notify only about changes in `.spec` fields. We are planning to make it configurable through: https://github.com/infracloudio/botkube/issues/203

[2019-11-19 11:50] PrasadG193 opened #216 "[BUG] BotKube stops responding to the commands after Slack update"
**Describe the bug**
Due to recent changes in Slack apis, BotKube couldn't read messages from client. We need to update Slack dep to work with the latest change.

**Additional context**
https://github.com/nlopes/slack/issues/630

[2019-11-19 12:31] #216 closed

[2019-11-19 13:06] mstrYoda commented on #181
I've tested it and observed that no longer get duplicate events.

[2019-11-19 13:06] #181 closed

[2019-11-19 13:43] PrasadG193 opened #218 "[BUG] BotKube not notifying about cluster-scoped resource"
**Describe the bug**
BotKube is not notifying about cluster scoped resources like - namespace, pv, etc

[2019-11-21 05:49] PrasadG193 opened #220 "Propogate context and remove global variables usage"
- Create a context in main() and propagate over the function calls.
- Set timout in context while calling go routines to avoid fragmentation

[2019-11-23 13:14] #218 closed

[2019-11-23 15:06] PrasadG193 commented on #201
I am able to reproduce the issue @shahbour . Thanks for reporting

[2019-11-25 05:58] #201 closed

[2019-11-25 09:25] PrasadG193 opened #224 "Publish release helm chart through release.sh"

[2019-11-28 15:58] slalwani97 commented on #211
Would like to check my approach first before implementing:
1. Move communication settings to secret.
[code]
2. This will be mounted as a seperate file so this file should be read and unmarshal into config structure.
[code]
Is this the correct approach?

[2019-11-29 06:43] PrasadG193 commented on #211
@slalwani97 Sounds good to me.
Just a thought, while unmarshalling communication content, we can unmarshal it into `Communications{}` struct instead of `Config{}`
Can you please raise a PR? That will make it easier to do review and discuss.

[2019-12-01 09:38] PrasadG193 opened #225 "[Refactor] Add copyright license headers in all source code files"
**Describe the solution you'd like**
We can use the following utility to scan and add required license headers in all files
https://github.com/google/addlicense

[2019-12-02 18:21] slalwani97 commented on #211
@PrasadG193 PTAL: https://github.com/infracloudio/botkube/pull/226

[2019-12-04 01:04] daegeun-ha opened #227 "How can I create botkube without giving "clusterrole""
**Is your feature request related to a problem? Please describe.**
In our company, kubernetes cluster is big, so not every developers has authorization to make 'clusterrole' resource. And if I use just 'role' than 'clusetrrole', lots of error msgs are appear like below.
(pkg/mod/k8s.io/client-go@v0.0.0-20190918160344-1fbdaa4c8d90/tools/cache/reflector.go:96: Failed to list *v1.StatefulSet: statefu

[2019-12-05 09:13] PrasadG193 commented on #182
Fixed with https://github.com/infracloudio/botkube/pull/219

[2019-12-05 09:13] #182 closed

[2019-12-09 07:03] PrasadG193 commented on #227
@daegeun-ha if we use clusterrole, then BotKube won't be able to monitor cluster-scoped resources like - PV, Namespace, Node, etc

[2019-12-16 01:56] daegeun-ha commented on #227
We also know about that problem (won't be able to monitor cluster-scoped resources)
But if I give just normal 'role' & 'rolebinding' to botkube, errors are occured like below.

Can I resolve this problem?

(E1216 01:55:23.030699       1 reflector.go:123] pkg/mod/k8s.io/client-go@v0.0.0-20190918160344-1fbdaa4c8d90/tools/cache/reflector.go:96: Failed to list *v1.StatefulSet: statefulsets.apps is for

[2019-12-18 21:24] testlabauto commented on #202
Hi,
I'm using the webhook after learning about botkube from a PR for kubewatch.  I use the webhook to start tests automatically post deploy.  The webhook is a huge improvement over the kubewatch one.
Thanks for making botkube!

[2019-12-19 00:24] edgarpf opened #229 "[BUG] Error in loading configuration. Error:open /config/resource_config.yaml: no such file or directory"
**Describe the bug**

Message error in Kubernetes: **Error in loading configuration. Error:open /config/resource_config.yaml: no such file or directory**

**To Reproduce**
Steps to reproduce the behavior:
1. I downloaded the develop branch.
2.  I built the image using **make container-image** and I pushed to the dockerhub.
3. Run botkube in kubernetes with my custom image that is exacly a copy of

[2019-12-19 02:38] PrasadG193 commented on #229
Hi @edgapf,
Could you please tell me how are you installing BotKube from develop branch? Which command are you using?

[2019-12-19 06:55] vishal-biyani commented on #202
@timstoop Thanks for your feedback - this is really helpful. Do you mind creating an issue and file whatever features you would like to see - and we can try to have them developed in upcoming releases.

[2019-12-19 06:56] vishal-biyani commented on #202
@testlabauto Thanks and glad to know. Please feel free to file any issues if you want certain features or see any bugs in BotKube

[2019-12-19 07:06] PrasadG193 opened #230 "[BUG] BotKube redundant error messages when deployed in multicluster"
**Describe the bug**
When BotKube is deployed in multiple cluster with `settings.allowkubectl:false` set in the config, it returns redundant error messages when `BotKube` commands are executed.

Sample messages (provided by an user on BotKube slack)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy BotKube on multiple clusters with the same token
2. Execute `@BotKube get pods` co

[2019-12-19 07:36] timstoop opened #231 "Automated Pod debugging"
**Is your feature request related to a problem? Please describe.**
When a Pod restarts, it still requires some manual steps to figure out *why* it restarted. Those steps could actually be automated, as almost all of that information is part of the Pod status. It would be nice if instead of just notifying you that a Pod has restarted (which Prometheus already does as well), botkube would perform a

[2019-12-19 07:37] timstoop commented on #202
Done: #231

[2019-12-19 10:19] edgarpf commented on #229
As I said I simple downloaded develop branch and I used **make container-image** to generate an image. I pushed it to dockerhub (**edgarpf/botkube**) and I tried to use the image in kubernetes but I found the error.

[2019-12-19 10:22] PrasadG193 commented on #229
As a part of https://github.com/infracloudio/botkube/pull/226, we have changed the configuration format little bit. But unfortunately, due to another issue, we have to revert that commit. I'll update the README accordingly once we merge that PR again

[2019-12-19 10:24] edgarpf commented on #229
Ok. Thanks.

[2019-12-19 13:18] edgarpf commented on #229
I did the same process again and I got the same result with branch develop. But It worked with branch master.

[2019-12-19 13:19] PrasadG193 commented on #229
Have you pulled latest changes from develop?

[2019-12-19 13:20] edgarpf commented on #229
Yes.

[2019-12-19 14:01] PrasadG193 commented on #229
Did you try removing the older image before you build newer one?

[2019-12-19 14:02] PrasadG193 commented on #229
Also, can you please tell me how are you deploying it on K8s cluster?

[2019-12-19 14:03] PrasadG193 commented on #229
If you are using helm, please set version as `9.99.9-dev` if you are deploying from develop branch.

[2019-12-19 14:06] PrasadG193 commented on #229
Also, make sure that you have pushed the newer image to dockerhub :slightly_smiling_face:

[2019-12-19 15:45] edgarpf commented on #229
As I said it worked like a charm using the master branch. I should have used that branch since the beginning because it is the stable version. My fault. I did again all the steps described above after the rollback in the develop branch.

I did not remove the old image but I tagged the new image and pushed this new image to dockerhub.

I was using **deploy-all-in-one.yaml** with my custom image to

[2019-12-19 15:45] #229 closed

[2019-12-20 02:15] codenio commented on #202
Thanks @testlabauto , the way you use botkube sounds great 👍.

@PrasadG193, could this added under usecase section in docs?

[2019-12-20 11:10] 1robroos opened #234 "[BUG] missing fields in elasticsearch"
**Describe the bug**
A clear and concise description of what the bug is.
I notice missing data in botkube events in elasticsearch.
Here the missing fields:
[code]
In elasticsearch index managemant the botkube index mappings show:
[code]

**To Reproduce**
Steps to reproduce the behavior:

I am using botkube v 0.9.1 on eks version 1.13 but also on minikube v1.5.2
ES is version 7.4.2

1. Create an ev

[2019-12-20 13:50] 1robroos commented on #234
Update.
I am testing with a pod that has status 'crashloopbackoff' and within Kibana  I now see :
[code]
see picture:
![Screenshot from 2019-12-20 14-48-46](https://user-images.githubusercontent.com/23609836/71259086-e6c40180-2337-11ea-939f-2766814e0f09.png)

Not sure if this is the way it should be represented though.

[2019-12-22 06:18] PrasadG193 opened #235 "Option to restrict BotKube command execution only from configured channel"
**Is your feature request related to a problem? Please describe.**
Right now, BotKube commands can be executed from any channel or in DM to BotKube. Based on feedback, there are use cases where people want to restrict `@BotKube` command execution from configured (private) channel only.

**Describe the solution you'd like**
We should add a flag in config `settings` which allows @BotKube command exe

[2019-12-22 10:19] RSijelmass opened #236 "[BUG] Helm instructions not available"
**Describe the bug**
For any new contributors, the [CONTRIBUTING.md](https://github.com/infracloudio/botkube/blob/develop/CONTRIBUTING.md) file goes through a detailed step-by-step to get the project set up on everyone's local machine. One can decide to run the project locally, or through docker. In the latter, however, a reference is made to the [README.md](https://github.com/infracloudio/botkube

[2019-12-22 13:01] #211 closed

[2019-12-22 15:04] PrasadG193 commented on #236
Hi @RSijelmass,
Thanks for reporting this. The instructions in CONTRIBUTING.md seem to be outdated. I'll update it ASAP.

[2019-12-23 17:50] #236 closed

[2019-12-23 17:54] PrasadG193 commented on #236
Hey @RSijelmass ,
We have updated the [CONTRIBUTING.md](https://github.com/infracloudio/botkube/blob/develop/CONTRIBUTING.md) as per the latest changes. Please let us know if you still face any issue

[2019-12-26 06:53] daegeun-ha commented on #227
I hope this problem is solved. If the problem is solved, our team can use botkube to improve work efficiency.

[2019-12-26 06:58] PrasadG193 commented on #227
Hey @daegeun-ha,
Sorry, I missed to reply to your earlier message. Could you please let us know what role bindings you are using? We are planning to use dynamic informers which will hopefully solve this issue (https://github.com/infracloudio/botkube/issues/200), but that will take some time. Let's try to find another solution till then.

[2019-12-26 07:00] PrasadG193 commented on #200
Another approach is to use dynamic informers https://www.firehydrant.io/blog/dynamic-kubernetes-informers/

[2019-12-26 07:10] mahendrabagul commented on #235
I have started to work on this. WIP

[2019-12-26 11:00] mbtamuli commented on #230
I would like to work on this issue.

[2019-12-27 05:16] PrasadG193 commented on #183
We are also adding a support to restrict command execution from a configured channel only https://github.com/infracloudio/botkube/issues/235

[2019-12-27 05:36] PrasadG193 commented on #234
Hey @1robroos, for normal Create/Update/Delete events, we don't attach any message. In some cases, recommendation and warning messages are added by the filters.
These are the default filters in BotKube:
[code]

[2019-12-30 09:18] mahendrabagul commented on #129
FYI, I have started working on this issue.

[2019-12-31 02:06] daegeun-ha commented on #227
@PrasadG193 Thanks for reply!
our role, service account, role binding are like below:

[role]
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: 2019-12-16T01:55:14Z
  name: botkube-role
  namespace: monitoring
  resourceVersion: "274459817"
  selfLink: /apis/rbac.authorization.k8s.io/v1/namespaces/monitoring/roles/botkube-role
  uid: 1a3c793d-1fa7-11ea-bbbc-fa163ea

[2019-12-31 02:07] PrasadG193 commented on #227
Also, can you send the BotKube resource configuration ?

[2019-12-31 02:08] daegeun-ha commented on #227
And.. it's the problem of getting k8s event from api server without clusterrole. Could a dynamic informer solve this problem..?

[2019-12-31 02:10] daegeun-ha commented on #227
Below is botkube resource configuration !

config:
  ## Resources you want to watch
  resources:
    - name: pod                # Name of the resources e.g pod, deployment, ingress, etc. (Resource name must be in singular form)
      namespaces:
        include:
          - all
        ignore:                 # List of namespaces to be ignored (omitempty), used only with include: all
          -

[2019-12-31 02:20] PrasadG193 commented on #227
If you set “default” service account in deployment, you don’t need to create RBAC resources - clusterrrole, clusterrolebindings and serviceaccount. We should support changing service account through helm chart

[2019-12-31 02:24] PrasadG193 commented on #227
If you use role and rolebindings or “default” namespace, setting “all” namespace in resource config won’t work. You will be able to watch only namespace in which BotKube is deployed. Can you try replacing “all” namespaces with appropriate namespace?

[2019-12-31 05:52] daegeun-ha commented on #227
@PrasadG193 OK, I'll try it the day after tomorrow. Happy new year! :>

[2020-01-07 07:13] mbtamuli commented on #230
I'm not able to work on this for now. If no one takes this up, I'll look at it again.

[2020-01-09 13:45] #203 closed

[2020-01-09 13:47] PrasadG193 opened #239 "Add deployment tests in CI"
**Is your feature request related to a problem? Please describe.**

We should add tests to verify helm chart deployment in CI

[2020-01-10 07:46] tusharsonawanes opened #240 "Integration with Microsoft teams"
I have used botkube with slack to send some basic commands to my kubernetes cluster. It would be very useful if the same happened through ms-teams.

[2020-01-10 07:59] PrasadG193 commented on #240
Hey @tusharsonawanes ,
We are already working on this. We had to actually write go sdks first as Microsoft doesn't have official go sdks for developing MS Teams Bots. We have that work in progress here: https://github.com/infracloudio/msbotbuilder-go

[2020-01-10 07:59] PrasadG193 commented on #240
Duplicate of https://github.com/infracloudio/botkube/issues/60

[2020-01-10 08:00] #240 closed

[2020-01-17 02:53] alpha-er opened #241 "[BUG] ConfigMap in repo doesn't match actual file in Helm chart"
The key `config.yaml` in the packaged chart doesn't match the one in [source code](https://github.com/infracloudio/botkube/blob/develop/helm/botkube/templates/configmap.yaml#L11) which is `resource_config.yaml`.

From packaged chart:
[code]

[2020-01-17 03:30] PrasadG193 commented on #241
Hey @alpha-er,
You are comparing wrong helm chart. Helm chart with “v0.9.1” holds artifacts for the latest stable release i.e v0.9.1. If you want helm chart for “develop” branch, please use “v9.99.9-dev” helm chart version.

[2020-01-17 03:33] PrasadG193 commented on #241
Please check Contributing doc for more info: https://github.com/infracloudio/botkube/blob/develop/CONTRIBUTING.md#build-the-container-image

[2020-01-17 04:21] alpha-er commented on #241
@PrasadG193, right. So, should I override the `image.tag` in the values file instead of `latest`? Because I just did a straightforward `helm install` of `v0.9.1` and the pod is in a `CrashBackoffLoop` with the error:
[code]

[2020-01-17 04:25] PrasadG193 commented on #241
Yes. You need to set image tag as `image.tag=v0.9.1` if you are using `v0.9.1` helm chart. Please see: https://www.botkube.io/installation/slack/#h-install-BotKube-k8s

[2020-01-18 14:44] #241 closed

[2020-01-21 08:07] 1robroos commented on #234
Thanks a lot.

[2020-01-21 08:07] #234 closed

[2020-02-03 06:43] #235 closed

[2020-02-05 17:49] cookandy commented on #183
Would it also be possible to restrict who can run `kubectl` commands by slack username?

[2020-02-11 22:31] rivu007 opened #245 "[BUG] MatterMost getUser call is causing index out of range exception"
As per the documentation, MatterMost integration is not working. After providing the details in values.yml, deploying the helm chart is causing the pods in `CrashLoopBackOff` status.

Steps to reproduce the behavior:
1. Please proceed with the MatterMost integration as described here: https://www.botkube.io/installation/mattermost/
2. Set the logLevel to `INFO`
3. Deploy the helm chart in kubernet

[2020-02-13 04:26] nadilas commented on #227
I have set include namespaces to one particular namespace and using the default service account, and only watching namespace relevant elements, still I get the message that the account doesn't have cluster scope.

  | E0213 04:22:50.567085       1 reflector.go:123] pkg/mod/k8s.io/client-go@v0.0.0-20190918160344-1fbdaa4c8d90/tools/cache/reflector.go:96: Failed to list *v1.Node: nodes is forbidden:

[2020-02-18 15:46] shubhamoli opened #246 "[Slack] is it necessary for BotKube to require permissions to view messages and files across all channels"
Hey Team,

I really liked the product and was looking for something similar for few days and found Botkube really amazing. I truly want to give it a try with our Slack Workspace but:

I've one concern... during installation Botkube requires permission to view messages and files across all channels. Is it compulsory or something minimal than this could've been fine?

[2020-02-18 18:09] sanketsudake commented on #246
Hey @shubhamoli,

We require access to Slack channels so that we can respond to kubectl commands posted by users. As of now default app in Slack directory requires these permissions. I assume you can do the personal installation and modify permissions.
However, as you know both BotKube Slack and backend are hosted by user itself. So we don't gather any info.

Please let us know if you have any spe

[2020-02-19 05:58] shubhamoli commented on #246
Yeah, it makes sense, I ignored this completely. Thanks for the clarification @sanketsudake

Integrating Botkube today. Thank you guys for making this awesome product

[2020-02-19 05:58] #246 closed

[2020-02-19 06:24] PrasadG193 opened #247 "[CD] Add a continuous deployment Job"
**Is your feature request related to a problem? Please describe.**

We should have a CD job to deploy and validate BotKube artifacts - helm charts and all-in-one resource manifests

**Describe the solution you'd like**
Ideally, we should have 2 BotKube instances -
- One pointing to the latest commit in develop
- Another one to the latest release

Edit:
We have applied for free AWS credits under th

[2020-02-21 03:15] vfiset commented on #202
Hi! I am not using it, yet!

 I came here out of reading the issues on kubewatch as well ;)

one thing I am not able to tell from reading the docs is: is there a way to get the system events like node*pressure, evictions and so on? Something I don't seem to get from kubewatch.

Thanks for your work. I will try it anyways in the next few days. It seems much better than you know who!

Cheers

[2020-02-21 03:28] vfiset commented on #202
And I'm a complete moron. I guess the node ressource will do exactly what I want. Trying it first thing tomorrow :)

[2020-02-21 05:54] PrasadG193 commented on #202
Hey @vfiset,
You can configure BotKube to get notifications about error events in Node (please have a look at https://www.botkube.io/configuration/).
Additionally, from the upcoming release, If you want to get notification about a change in the specific field of resource spec/status, you can configure that too - you can set jsonpath to the field in updateSettings (e.g https://github.com/infracloud

[2020-02-25 10:11] Zer0-bit commented on #202
We would use it if it had MS Teams support, as of now i don't really want to start using Slack separately just for this.

[2020-02-26 08:10] PrasadG193 commented on #230
Fixed with https://github.com/infracloudio/botkube/pull/243

[2020-02-26 08:10] #230 closed

[2020-02-26 08:14] PrasadG193 commented on #227
@nadilas How are you deploying BotKube. I am assuming you are using deploy-all-in-one.yaml. If you are deploying BotKube in other namespace than `botkube`, then you need to update `ClusteRoleBinding` accordingly. Please make sure you are setting subject in `ClusterRoleBinding` correctly: https://github.com/infracloudio/botkube/blob/master/deploy-all-in-one.yaml#L260

[2020-02-26 09:50] nadilas commented on #227
@PrasadG193 hi, I’m deploying namespace in a dedicated xy namespace, which I want to monitor. It should be namespaced and only look at resources within that namespace. I do not have cluster level access, hence cannot create a ClusterRoleBinding. I want to restrict it to just the one.

[2020-02-26 10:38] PrasadG193 commented on #227
Understood. By default BotKube register informers for all the resources. There should be a check to skip cluster level resources as proposed in this issue.
Can you update your resource settings and set namespace `xy` for all the resources?

[2020-02-27 17:40] fliphess commented on #183
Using @botkube get secret <someverysecretsecret> -o yaml will result in a dataleak, I'd love to use `get pods` and `get ns` etc, but prefer to keep my passwords out of slack :)

[2020-03-25 16:44] logbon72 opened #248 "Disable Read Attempts for Unmonitored Resources"
**Is your feature request related to a problem? Please describe.**
At the moment, we are trying out BotKube, since we run a zero-trust platform, we limit how much access the botkube service account has to our Kubernetes environment. Currently, our cluster role definition looks like this, as you can see, secrets are excluded for security reasons.

[code]
The challenge here is that even though secre

[2020-03-29 09:22] nadilas commented on #227
@PrasadG193 Should be no issue, although I think I had that initially.. let me try it first thing on Monday.

[2020-03-30 07:39] hksk8s commented on #245
I would like to work on this issue

[2020-03-30 07:41] mahendrabagul commented on #245
I would like to work on this issue

[2020-04-01 18:12] logbon72 opened #249 "Ignore Pods in Terminating State"
**Is your feature request related to a problem? Please describe.**
There is a known issue in Kubernetes where liveness probe fails in Pods that are being terminated, i.e. in Terminating state. We noticed that for every new deployment we rollout, we get error alerts about Pod liveness state, which is due to the Kubernetes bug referenced.

See Kubernetes issue: https://github.com/kubernetes/kubernet

[2020-04-03 13:53] AmitKumarDas commented on #200
@PrasadG193 have you evaluated [metacontroller](https://metacontroller.app) for this?

[2020-04-04 19:51] akath19 opened #250 "Multiple Slack Channels"
**Is your feature request related to a problem? Please describe.**
I'm running botkube as a PoC for my company, we have one cluster per team for non-prod environments & one cluster per team for prod environments, each team wants to be able to manage only their clusters.

This poses a problem because `@BotKube` doesn't have awareness of the channel and allows running `kubectl` commands for all clus

[2020-04-06 03:56] balavs2806 opened #251 "[BUG]"
**Describe the bug**
I have configured botkube to send alerts and execute commands from my slack channel. The problem now is I am able to get a notification on events changes, but when I type @BotKube ping command from slack channel am not able to get any responses(even any kubectl commands).

.

[2020-04-06 05:00] PrasadG193 commented on #251
@balavs2806 Can you please post communication setting in config here (please make sure you remove token information before)?

[2020-04-06 09:19] PrasadG193 commented on #200
@AmitKumarDas No, let me take a look. Thanks.
But my first level thought is to use dynamic client and dynamic informers and make the current implementation more generic to support any K8s resource.

[2020-04-07 03:12] balavs2806 commented on #251
@PrasadG193 Here is the communication settings in my config

    communications:
      # Settings for Slack
      slack:
        enabled: true
        channel: 'test-alerts'
        token: '####################################'
        notiftype: long                         # Change notification type short/long you want to receive. notiftype is optional and Default notification type is short (if

[2020-04-09 04:29] Timvissers opened #252 "[BUG] Error Posting Webhook: Ɛ"
**Describe the bug**
When sending job events to (slack) webhook, the following occurs.
We are using v0.9.1 on AKS 1.16.
I tested this with different webhooks. The webhooks work for other purposes, eg when using the same webhook config in kubewatch, it works.

ERRO[2020-04-09T04:19:50Z] Error Posting Webhook: Ɛ
DEBU[2020-04-09T04:19:50Z] Event Not Sent to Webhook { Job Created Job 334a411a-eaff-431

[2020-04-09 04:41] Timvissers commented on #252
UPDATE:
It works correctly when using https://bin.webhookrelay.com/...
So it must be somehow related to our slack webhook. (we don't need a slack webhook, I just use it to test)

[2020-04-14 08:56] rahulchheda opened #254 "Customise RBAC using the resource_config.yaml, and add only essential resources authorisation"
**Is your feature request related to a problem? Please describe.**
This issue addresses the creation of dynamic RBAC, which means when we run the binary, we create a RBAC, and then ask the user to apply that RBAC yaml, and provide limited authorization to botkube.
I think that would be a great module in your recommendation engine.

**Describe the solution you'd like**
We start with a [*,*,*] RBAC

[2020-04-15 09:13] PrasadG193 commented on #254
@rahulchheda Can you please more description to the issue? Also please check if https://github.com/infracloudio/botkube/pull/255 addresses this

[2020-04-15 10:09] rahulchheda commented on #254
This issue addresses the creation of dynamic RBAC, which means when we run the binary, we create a RBAC, and then ask the user to apply that RBAC yaml, and provide limited authorisation to botkube.

[2020-04-15 10:14] rahulchheda commented on #254
We analyze the resource_config.yaml, and then create an RBAC, and present it to the user, this might help in the case of CR's that the users is trying to get but the static RBAC is unable to access those.

[2020-04-15 10:14] rahulchheda commented on #254
Does that make sense? @PrasadG193

[2020-04-15 10:30] PrasadG193 commented on #254
Ok. RBAC at BotKube level will be complicated. Could you please put this info in issue's description?
https://github.com/infracloudio/botkube/issues/254#issue-599407305

[2020-04-15 11:34] rahulchheda commented on #254
Sure, but why is it complicated, we have the resources, we have the actions for what we have to watch. Could you explain why it seems complicated?

[2020-04-15 12:19] PrasadG193 commented on #254
Aah, I misread your comment. I was thinking configuring K8s RBAC for Slack/Mattermost user. But having dynamic RBAC based on configuration sounds great.

[2020-04-18 13:07] PrasadG193 commented on #251
Do you see any error logs in the BotKube pod?

[2020-04-18 13:10] PrasadG193 commented on #248
This is getting addressed with: https://github.com/infracloudio/botkube/pull/253

[2020-04-19 20:10] eddycharly opened #257 "Don't use latest in helm image tag"
https://github.com/infracloudio/botkube/blob/16e90962d65b27d874f0a5129e9f42e25d793aeb/helm/botkube/values.yaml#L12

Having latest in helm image tag is dangerous, it breaks with current latest image because of a change in the config yaml file.

[2020-04-19 20:35] MustafaSaber commented on #97
any news here?

[2020-04-20 09:08] eddycharly opened #258 "nodeSelector is not applied"
In the helm deployment, the nodeSelector configuration is not applied.

[2020-04-20 09:27] PrasadG193 commented on #257
Hey @eddycharly,
`develop` branch contains latest changes under development. So one is not expected to deploy BotKube from `develop` unless they want to experiment and test changes under development. Ideally, as described in docs (https://www.botkube.io/installation/), one should refer latest release or master branch for development. The helm charts and deploy manifest we have in `develop` are com

[2020-04-20 09:30] eddycharly commented on #257
Hi @PrasadG193 , that's not true, the helm chart v0.9.1 is using `latest` (see https://github.com/infracloudio/botkube/releases/download/v0.9.1/helm-chart-botkube-v0.9.1.tgz), so deploying the chart doesn't work without changing the values.

[2020-04-20 09:38] PrasadG193 commented on #257
I see. If you are talking about default values, then you are right. We should update the release script to overwrite default image tag as well. Thanks

[2020-04-20 10:31] eddycharly opened #260 "Node getting ready is reported as an error"
![image](https://user-images.githubusercontent.com/47974576/79742230-ca929a00-8302-11ea-9aa9-82aa3246d857.png)

**Describe the bug**
The node getting ready is reported as an error.

[2020-04-20 11:10] PrasadG193 commented on #260
Isn't that expected? If Node is not ready, then we should get informed, right?

[2020-04-20 11:14] eddycharly commented on #260
In this case the node is ready, i don’t think it should be considered an error

[2020-04-20 11:15] PrasadG193 commented on #260
I can see in the screenshot the status is `NotReady`. It might have happened that the node came back to `Ready` status?

[2020-04-20 11:17] eddycharly commented on #260
In the screenshot the status is NodeReady not NotReady. Where do you see NotReady ?

[2020-04-20 11:21] PrasadG193 commented on #260
I am really sorry. It is `NodeReady`, I mistakenly ready it as `NotReady`. I am on smaller screen so coudn't find the difference :man_facepalming:. Thanks for reporting. This is not the expected behaviour. We have dedicated filter to extract node status from the event info. There must be something going wrong there

[2020-04-21 09:02] codenio commented on #260
I would like to work on this. If someone had started already, kindly let me know.

[2020-04-21 09:12] eddycharly commented on #258
Fixed by #259

[2020-04-21 09:12] #258 closed

[2020-04-21 09:12] eddycharly commented on #257
Fixed by #259

[2020-04-21 09:12] #257 closed

[2020-04-21 11:10] codenio commented on #252
Hi @Timvissers, can we close this issue, I hope it is not a problem anymore.

[2020-04-21 12:31] PrasadG193 opened #262 "Refactor logging package"
Refactor logging package to make log statement simpler. Current format `logging.Logger.Info()` doesn't look good. We can embed Logrus into `pkg/log` to import and use it as `log.Info()`

[2020-04-23 05:55] kingdevnl commented on #97
Nope sadly

[2020-04-23 11:05] avishniakov opened #264 "[BUG]Error notifications missing"
Hi team!
I have installed BotKube on k8s deployed in EKS with Slack integration. During testing I can get notifications from bot at resource create/update/delete actions, but not getting anything for pods going into Failed or other erroneous statuses.

[code]

[code]

[code]

In logs of botkube pod I can see many similar error, but none of them relate to affected pods:
[code]

**To Reproduce**
Ste

[2020-04-23 12:03] codenio commented on #97
@kingdevnl sorry about this.

creating the Integration test for Discordapp is the hardest part than actually implementing the functionality.

let me try my level best. it might take time.

[2020-04-23 12:09] PrasadG193 commented on #97
@codenio Please feel free to ping me if you need any help. We can also work together in adding integration test. Thanks for picking this up :)

[2020-04-23 12:17] codenio commented on #97
@PrasadG193 thanks for the support.
yes, we could try together as earlier.

[2020-04-23 17:21] PrasadG193 commented on #264
@avishniakov Could you please test with `develop` once? I couldn't reproduce the issue. Will it be possible for you to share pod manifest you are using?

[2020-04-24 05:23] avishniakov commented on #264
@PrasadG193, thanks for suggestion.
I tried deploying botkube from latest image, rest deployment details were unchanged. It is failing and botkube pod not starting:
[code]

For testing on v0.9.1 I created a minimalistic failing pod, which gave back notification:
[code]
[code]

Pods which are not giving notification on errors are generated by Kubeflow (as components in Pipelines). They have 2 conta

[2020-04-24 05:26] PrasadG193 commented on #264
@avishniakov I believe you are using deploy-all-in-one.yaml manifest from master branch to test latest changes. Please refer it from develop branch https://raw.githubusercontent.com/infracloudio/botkube/develop/deploy-all-in-one.yaml

[2020-04-24 05:28] PrasadG193 commented on #264
If you can also point me to the steps you are following to deploy Argo would be helpful

[2020-04-24 05:31] PrasadG193 commented on #239
Duplicate of https://github.com/infracloudio/botkube/issues/247

[2020-04-24 05:31] #239 closed

[2020-04-24 05:34] PrasadG193 commented on #227
Now it is possible to change default rbac rule while installing the BotKube via helm. Please have a look at default values: https://github.com/infracloudio/botkube/blob/develop/helm/botkube/values.yaml#L311

[2020-04-24 05:40] avishniakov commented on #264
I tried proposed YAML - it worked, but showing very same behavior. Message is generated for simple hand-crafted pod, but not for Kubeflow generated...

Kubeflow comes with Argo as a controller (https://www.kubeflow.org/docs/pipelines/overview/pipelines-overview/), for exact steps, I can check with my colleague on Sunday.

[2020-04-24 07:43] #252 closed

[2020-04-26 10:35] kingdevnl commented on #97
Any new info about this?

[2020-04-27 03:50] #225 closed

[2020-04-29 07:29] OKyHb opened #267 "[BUG] Helm - indentation in clusterrole.yaml"
When "podSecurityPolicy.enabled= true" I get this error with helm chart v0.10.0:

`Error: YAML parse error on botkube/templates/clusterrole.yaml: error converting YAML to JSON: yaml: line 18: did not find expected key`

**To Reproduce**
Steps to reproduce the behavior:
1. Set "podSecurityPolicy.enabled= true" in values.yaml
2. helm template -f values.yaml botkube infracloudio/botkube
3. Get error

[2020-04-29 13:48] codenio commented on #97
@kingdevnl, when you can't help yourself. you have to wait for the community to respond to your requests.

[2020-05-01 06:12] PrasadG193 opened #270 "[Refactor] Refactor notifier to use Bot interface to send events"
**Is your feature request related to a problem? Please describe.**

In notifier, we send events by creating new connection to communication medium on every new event. We can reduce number of connections by sending messages via Bot interface.

**Describe the solution you'd like**

Implement required methods in Bot interface so that it satisfies Notifier interface. Then add Bot object as a notifier

[2020-05-01 07:31] codenio commented on #270
TODO:
- pass config from main.py instead of creating config from the file in all the bots .
https://github.com/infracloudio/botkube/blob/7aaf5112c611e78ef8b89c9e70b1a4356cc400ed/pkg/bot/slack.go#L54-L59

[2020-05-01 13:38] #176 closed

[2020-05-03 18:12] sadortun opened #275 "[BUG] Not receiving notifications on Slack, and ping does not work"
**Describe the bug**
Hi !

We have followed the instructions on how to install and configure botcube, but unfortunatly the bot is unresponsibe.

![image](https://user-images.githubusercontent.com/794449/80921952-b9f11380-8d47-11ea-9675-3c9bb5d6422f.png)

Looking at the logs, we can see a  lot of `not found` messages
![image](https://user-images.githubusercontent.com/794449/80921988-ffaddc00-8d47-1

[2020-05-03 18:26] sadortun commented on #275
Tested with `deploy-all-in-one.yaml` and it working like a charm :) !

[2020-05-04 06:27] prasenforu opened #276 "Delete PVC not sending event to webhook"
When I am deleting PVC in namespace its throwing PV resource instead of PVC. seems its a BUG

My configuration as follows..

[code]

[2020-05-05 03:40] PrasadG193 commented on #275
That's a bug in documentation side. We have updated the helm3 commands but helm2 still pointing to older syntax. Let me fix it

[2020-05-05 03:45] #275 closed

[2020-05-05 03:47] PrasadG193 commented on #267
Hey @OKyHb,
Thanks for reporting this. Would it be possible for you to raise the PR to fix this? You already know the resolution :)

[2020-05-06 08:45] thorro commented on #105
Not an obvious error, maybe docs should reflect that.

[2020-05-08 14:03] coolpalani commented on #260
@codenio

I tried to setup from develop branch and tag v0.10.0, I didn't get any alert while node isn't NotReady or recover from NotReady to Ready state.

`      - name: node`
`        namespaces:`
`          include:`
`            - all`
`          ignore:`
`           -`
`        events:`
`          - create`
`          - update`
`          - delete`
`          - error`
`        updateSetting:`

[2020-05-14 03:10] DMSecureYourInbox opened #280 "Ability to customize Bot Image and Name Similar to Travis-CI for example"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The ability to upload an image for the bot and also change the name of the bot. An example application that allow this is Travis-CI

**Describe alternatives you've considered**
N/A

**Additional context**
The ability to personalize this would be awesome!

[2020-05-14 05:02] #179 closed

[2020-05-21 14:23] nnao45 commented on #202
Hi team.
1. I "easy" operation k8s at slack with devops teams, and love to looks pod log.
2. want to look events summary, or command history
3. CyberAgent/AI Div.
4. 👍

[2020-05-22 05:03] PrasadG193 opened #282 "Add integration tests for Mattermost"
**Is your feature request related to a problem? Please describe.**
Integrations tests for Mattermost are missing in e2e test framework. Currently, we cover Slack and Webhook only

**Describe the solution you'd like**
Need to investigate if the Mattermost server can be mocked like a Slack server.

[2020-05-24 11:04] nadilas commented on #227
Sorry @PrasadG193 ... I eventually got around to test this... it doesn't seem to work at all. I have set the included namespace for every single resource, like:

[code]

But on startup it still runs into the same issue:
[code]

[2020-05-26 10:03] mbtamuli commented on #247
We can enable GitHub Pages to enable the all-in-one resource manifest downloads.
Similar to https://docs.litmuschaos.io/docs/next/getstarted.html#install-litmus

[2020-05-26 10:05] mbtamuli commented on #247
Also check https://github.com/actions/upload-release-asset

[2020-05-26 10:36] tavisca-rkadikar opened #283 "Using conventional index name format 'index-%Y.%m.%d' in ElasticSearch configuration"
**Is your feature request related to a problem? Please describe.**
Yes. Currently, BotKube is supporting a fixed index for ElasticSearch configuration. For ease of log maintenance and restoring, an index should a tag or timestamp which can be useful for filtering them.

**Describe the solution you'd like**
Using conventional index name format 'index-%Y.%m.%d' will help to resolve the issue

[2020-05-26 12:03] girishg4t commented on #183
@PrasadG193 i can take a look on this

[2020-05-26 12:09] PrasadG193 commented on #183
@girishg4t let's finalize the BotKube configuration format before you start

[2020-05-26 12:16] PrasadG193 commented on #183
The straight forward way would be to add one more section in settings.kubectl section in resource configuration. Something like:
[code]

[2020-05-26 12:17] PrasadG193 commented on #183
@girishg4t let me know what you think

[2020-05-26 12:26] baba230896 commented on #247
Hi @PrasadG193
Picking up this task.

[2020-06-09 16:26] niks3089 commented on #202
Hi team,

I work at Nimbella and recently we launched [Commander](https://nimbella.com/product/commander), a cross-platform serverless framework to develop custom bots/commands for Slack, Mattermost & Teams where you write code and run it anywhere including the messaging platforms. I think this could be useful for BotKube because you can write your integrations for Teams without having to worry ab

[2020-06-11 12:17] avishniakov commented on #264
Hi @PrasadG193, can I help you somehow with additional data?

[2020-06-13 07:22] PrasadG193 opened #286 "Capture Kubernetes audit events"
Kubernetes supports webhook backend for audit events, which sends events to an external API. We should make use of that to collect events with BotKube
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#dynamic-backend

[2020-06-16 07:18] #267 closed

[2020-06-17 16:54] gmkumar2005 commented on #202
I have just deployed bitkube on OpenShift it works well as documented. This will be very useful during UAT and Golive preparations.  Like to see some more enterprise features.

[2020-06-17 16:55] vishal-biyani commented on #202
Hi @gmkumar2005 Thanks for the info. Could you please elaborate on what enterprise feature would help you specifically?

[2020-06-17 17:01] gmkumar2005 commented on #214
I have used helm3 to deploy this package on OpenShift 4. So I think current code base is compatible. Is there any specific feature of Helm3  which is needed ?

[2020-06-17 17:04] vishal-biyani commented on #214
@gmkumar2005 Thanks for confirming - this issue was just to validate and document if any changes needed for Helm3

[2020-06-17 17:30] gmkumar2005 commented on #202
1) Restrict the bot to only one name namespace. Or current namespace.
2) Kubectl commands should be allowed executed only for a designated user or groups.
3) Web interface for the administrator to apply filters/restrictions dynamically.
4) Warning messages indicating alerts will be received  potentially by un-monitored channels.
5) The connections should expire after a defined schedule. Should sta

[2020-06-17 17:38] PrasadG193 commented on #214
This issue isn't relevant anymore. We have documented both the ways - with helm2 and helm3 - to install BotKube. https://www.botkube.io/installation/slack/

[2020-06-17 17:38] #214 closed

[2020-06-21 11:26] #183 closed

[2020-06-22 02:25] aavileli opened #293 "[BUG] bokube slack kubectl command gets "Invalid request. Dumping the response""
version botkube-v0.10.0

[code]

[2020-06-22 03:34] PrasadG193 commented on #293
@aavileli have you enabled kubectl command execution? Could you please share `settings` section in BotKube config?

[2020-06-22 04:15] aavileli commented on #293
Hi @PrasadG193  you can see in the above debug output from container which gets the slack command

Here is the settings from the configmap botkube-configmap

[code]

[2020-06-22 05:50] PrasadG193 commented on #293
Can you please tell me how did you install BotKube? Are you following instructions from https://www.botkube.io/installation/? The configuration you provided is for development version of BotKube.

[2020-06-22 06:02] aavileli commented on #293
I used helm install instructions from the website and made a copy of the values file from here
https://github.com/infracloudio/botkube/blob/develop/helm/botkube/values.yaml.
I will make a copy of this tag https://github.com/infracloudio/botkube/blob/v0.10.0/helm/botkube/values.yaml and test

helm install --version v0.10.0 botkube --namespace ashtest --values ./customconfig.yaml infracloudio/botkub

[2020-06-22 06:32] aavileli commented on #293
tried got the same result
[code]
[code]

[2020-06-22 07:02] aavileli commented on #293
ok figured it out based on the code
https://github.com/infracloudio/botkube/blob/v0.10.0/pkg/bot/slack.go
[code]

```sm.IsAuthChannel ``` Was `false`.

In slack, you can subscribe bots to many channels this was getting set to false as the channel is not in the config field channel.

Thanks for your help

[2020-06-22 07:02] #293 closed

[2020-06-22 14:50] McOffsky commented on #250
The token for botkube slack app will always be the same, its not related to the channel value. Both of those are stored in botkube-communication-secret. For now the workaround would be to create another deployment for botkube, that for communication uses diffrent secret, with the same token, and diffrent channel.

[2020-06-22 17:35] gmkumar2005 commented on #264
@avishniakov what is the result when you run ```@BotKube get events -n <replacewith your namespace>'```

[2020-06-23 05:40] avishniakov commented on #264
@gmkumar2005 , checked: it is just nothing. Bot is responding to `ping`, but no reaction for `get events`. I checked pod logs - they also clean, no new errors or warnings.

[2020-06-23 05:45] PrasadG193 commented on #264
@avishniakov I hope you are executing this from the configured channel where BotKube is posting notification? For error events, BotKube monitors Kubernetes events, can you check if the expected error is being logged in K8s events. You can check events with `kubectl get events -n <namespace>`

[2020-06-23 05:51] avishniakov commented on #264
@PrasadG193 , surely I did it from configured channel for notifications. I checked it with kubectl: I get back 4 records, while with BotKube - just no response.
[code]
<img width="366" alt="Screen Shot 2020-06-23 at 9 49 42 AM" src="https://user-images.githubusercontent.com/31008759/85365764-0d593400-b537-11ea-90ce-5f8d5dcd55ca.png">

[2020-06-23 05:53] PrasadG193 commented on #264
I see. How did you install BotKube, I see you are running develop version not the stable one? Did you use develop helm chart to install BotKube?

[2020-06-23 05:55] PrasadG193 commented on #264
I would suggest installing a stable version by following the steps mentioned at https://www.botkube.io/installation/slack/ to avoid configuration conflicts.

[2020-06-23 05:56] avishniakov commented on #264
Ok, I'll try installing stable one. Develop version was installed based on your earlier suggestion in this thread.
Thanks!

[2020-06-23 07:06] gmkumar2005 commented on #264
@avishniakov is this behavior observed in all namespaces or just the kubeflow ?

[2020-06-23 11:11] vishal-biyani opened #294 "Shorter commands in BotKube"
The Kubectl commands tend to get pretty long on BotKube and there is no auto-completion that does not help. What would be nice is to have a way to use [Kubectl aliases](https://github.com/ahmetb/kubectl-aliases) or something similar - so the length of that overall command reduces

[2020-06-23 16:30] semoac opened #295 "Ignore namespaces using regex"
**Is your feature request related to a problem? Please describe.**

I want to ignore multiple namespaces using a wildcard like: `project-experimental-*`

**Describe the solution you'd like**

It would be awesome if we can specify labels or regex to ignore short-lived namespaces.

**Describe alternatives you've considered**

None.

**Additional context**

I try using `project-experimental`  hoping

[2020-06-24 00:39] semoac commented on #249
🙏

[2020-06-26 00:23] semoac opened #296 "Webinar: Monitoring Kubernetes clusters by “chatting” with them audit"
Hi!

These are paid features? Can't find them on the repository.

<img width="1222" alt="Screen Shot 2020-06-25 at 20 14 40" src="https://user-images.githubusercontent.com/20688668/85807975-8a480180-b721-11ea-8ea1-6e92dcc88c7b.png">

<img width="1218" alt="Screen Shot 2020-06-25 at 20 22 23" src="https://user-images.githubusercontent.com/20688668/85807990-9764f080-b721-11ea-9cc5-abe3e5d43159.png">

[2020-06-26 09:19] PrasadG193 commented on #296
Hey @semoac,
As said, that is an alpha feature which is yet to be released.
We are yet to perform stress testing to make it more robust. The WIP PR can be found here: https://github.com/infracloudio/botkube/pull/292

[2020-06-26 09:19] #296 closed

[2020-06-29 08:43] gmkumar2005 commented on #294
Hi @vishal-biyani can this be done in a way that it does not impact the channel and also does not impact the executor.
Each channel may need to use different style of encoding/translation. For example Telegram does not process commands with a hyphen so I had to translate an underscore to hyphen before executing. Each channel will have their own corner cases.
It will be nice if this feature works l

[2020-06-29 09:45] kartik-moolya opened #299 "Support needed for AWS signing to authenticate Elasticsearch hosted on AWS using temporary session tokens from IAM role"
**Is your feature request related to a problem? Please describe.**
Current implementation does not support AWS signing when connecting to Elasticsearch hosted on AWS, so basic auth is the only way

**Describe the solution you'd like**
Can we import AWS SDK and pass a flag in the configmap to use AWS credentials rather than basic auth (ex. use AWS temporary session token)

**Describe alternatives y

[2020-06-29 19:25] bitva77 commented on #60
Just want to say that Teams support would be huge for us and likely many other companies forced into Teams.

That's all  :)

[2020-06-30 09:06] gmkumar2005 opened #300 "Executor fails to run when cluster-name is ignored [BUG]"
**Describe the bug**
Executor fails to run when namespace is ignored. For eg : ```get pods``` . While ```get pods -n micro ``` works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any channel (slack or telegram)
2. Issue a kubectl command with single param eg " ```get pods```
3. Bot does not respond or returns empty results

**Expected behavior**
Bot should respond with a list of pod

[2020-06-30 09:13] kartik-moolya commented on #283
Working on this

[2020-06-30 09:13] kartik-moolya commented on #299
working on this

[2020-06-30 09:52] #300 closed

[2020-07-01 08:43] codenio commented on #260
@coolpalani Is this issue remains unresolved.?

[2020-07-01 12:27] #283 closed

[2020-07-01 12:27] #299 closed

[2020-07-01 16:53] codenio commented on #270
@PrasadG193 at present, creating a new connection on each event using goroutines, prevents the accumulation of event notifications.  I have few thoughts with this

- would a single connection using the bot interface slow down/choke the event notifications sent to the servers?
- can we reduce the number of connections by queuing the even notifications and serve them with a fixed number of workers?

[2020-07-03 05:44] codenio opened #307 "Add integration tests for DiscordApp"
## Description

Add integration tests for Discord.

## Acceptance criteria
- setup a real Discord workspace in the same way as we did for Slack
- extend the e2e integration test framework, so it supports Discord
  - it should be extensible for the future where we will add e.g. Mattermost, MS Teams etc
  - consider to use interfaces that different drivers can implement
- update the e2e test pipelin

[2020-07-12 10:15] PrasadG193 commented on #270
I agree. Eventually, we would need to have queuing mechanism. We are also adding audit webhook support, which again increases the number of events BotKube needs to process. We are thinking about refactoring architecture so work on high load.

[2020-07-12 10:21] PrasadG193 commented on #262
Fixed with https://github.com/infracloudio/botkube/pull/285

[2020-07-12 10:21] #262 closed

[2020-07-12 10:26] PrasadG193 opened #310 "Add queuing mechanism to process events"
**Is your feature request related to a problem? Please describe.**

We send events to filterengine and notifiers as soon as those occur. This won't work in case of a high load. We should have a better mechanism to work efficiently under high load.

**Describe the solution you'd like**

We can maintain buffer or queue.

[2020-07-15 22:40] jselleck commented on #245
Comments:  I noticed while reviewing this issue that "botkube" is set as a const for BotUser.  It would be nice if the user could be determined based on the token used OR if BotUser was an option in the config.   Our instance of Mattermost has tight restrictions on how users are created.  A user with the name of botkube is not feasible for us.

[2020-07-17 08:54] varshabhijeet opened #311 "email notification"
Is to posssible to generate email notification from botkube?

[2020-07-22 01:11] blackjid commented on #264
I'm having the exact problem. I installed using the helm chart... 0.10.0

[2020-07-22 04:32] PrasadG193 opened #312 "New BotKube command to list the supported kubectl cmds"
**Is your feature request related to a problem? Please describe.**

Now that we have support to configure allowed kubectl commands, the list of commands documented in `/botkubehelp` are misleading. There should be a way to let user know what kind of commands are supported.

**Describe the solution you'd like**

Add new BotKube command - e.g `@BotKube commands list` to list down all the supported c

[2020-07-22 05:25] PrasadG193 commented on #264
@blackjid are you also observed this only for `kubeflow`? Which application did you try?

[2020-07-22 08:36] bcouetil opened #313 "[BUG] configuration of resources requests and limits is not used"
**Describe the bug**

Thank you for this wonderful tool :smiley:

The configuration of resources requests and limits is not used in Helm Chart.

Nowhere in the deployment template I can find something like :

[code]

[2020-07-23 07:37] bcouetil opened #314 "Filter out pods by selector"
**Describe the solution you'd like**

Is there a way to filter out some kind of pod that fails, but not all in the namespace ? A particular pod of mine has often a fail in readiness, I don't want to have notifications for it...

If it's possible using botkube filters, please provide an exemple :smile:

[2020-07-23 08:03] PrasadG193 commented on #314
Hey @bcouetil,
It is possible to filter notification for specific resources using annotations. Please check https://www.botkube.io/usage/#filter-events-using-annotations.

[2020-07-23 09:03] bcouetil commented on #314
thank you for your quick response :heart:

My bad, I did not think of this approach, so missed this part of documentation :sweat_smile:

[2020-07-23 09:03] #314 closed

[2020-07-25 16:27] ewerton-silva00 commented on #56
I'm looking forward to it.

[2020-07-29 17:16] adusumillipraveen opened #317 "Is there a plan to release new version"
Currently, there is a lot happening on master, but it's been a few months since it has been released. Any plans to release anytime soon?

[2020-07-29 18:57] adusumillipraveen opened #318 "Errors spamming logs when using a service account with limited access to resources"
**Describe the bug**
We are using service account with limited access to resources as we don't want to expose all resources through kubectl.

see config : https://github.com/hmcts/cnp-flux-config/blob/master/k8s/namespaces/monitoring/botkube/botkube.yaml#L125-L136

But it spams logs with errors though works functionally. It would good to use these settings while fetching resources instead of fetch

[2020-07-30 15:10] docwhat opened #319 "Load secret info from k8s Secret objects."
**Is your feature request related to a problem? Please describe.**

I'm using HelmResource CRD objects to install and manage helm v3 packages.  Putting a secret in clear text in a HelmResource yaml file, to be committed in a git repository, is a no-no.

Secrets need to be stored separately, ideally in a sealed secret.

**Describe the solution you'd like**

Instead of storing secret information in

[2020-08-03 04:52] PrasadG193 opened #320 "Add script to create and destroy KIND cluster"
**Describe the solution you'd like**

- Create a script to create and destroy KIND clusters which can be used to execute test and CD jobs
- Add `make` targets for the same.
- Script can be placed under `hacks` dir

[2020-08-07 10:19] vinamra1502 opened #321 "Getting Blank Notification over Msteam"
helm install --version v0.10.0 --name botkube --namespace botkube  --set communications.webhook.enabled=true   --set communications.webhook.url=******   --set config.settings.clustername=TV-DEV-K8s   --set image.repository=infracloudio/botkube   --set image.tag=v0.10.0
 infracloudio/botkube -f values.yml
I am using msteam channel Webhook url but getting blank notification.
![image](https://user-im

[2020-08-08 07:40] avishniakov commented on #264
Hey, since kubeflow pipelines are Argo workflows at the end of the day I ended up extending our pipelines with onExit handler to send Slack notifications on failed statuses. For kubeflow InferenceService pod error information is flowing correctly with BotKube.

[2020-08-11 06:12] #60 closed

[2020-08-11 06:47] PrasadG193 opened #322 "Add integration tests for MS Teams"
**Is your feature request related to a problem? Please describe.**
Add MS Teams integration tests in e2e test suite once msbotbuilder-go sdks support mocking authentication mechanism

[2020-08-11 06:48] PrasadG193 commented on #322
Blocked by https://github.com/infracloudio/msbotbuilder-go/issues/46

[2020-08-12 16:20] mikebell90 opened #323 "Notify groups"
**Is your feature request related to a problem? Please describe.**
It would be awesome to be able to apply "notify groups". Yes annotations help, but it would cool to apply notify groups for particular objects. For example only the system group needs to hear about kuberhealthy or kube-system stuff. We could laboriously TRY to apply annotations to redirect these, but notify groups would be awesome

[2020-08-12 16:22] mikebell90 opened #324 "prometheus integration to grab snapshots of metrics"
This would be SUPER awesome

@BotKube prometheus query="xxxxxx" output=picture|table interval="now-3h to now"

That's not great syntax but you get the idea

[2020-08-14 20:21] mitchellmaler opened #325 "[BUG] Helm Chart clusterrole invalid if PSP and rbac are both enabled"
**Describe the bug**
If both RBAC and PSP are enabled the two rules added to the clusterrole are not indented the same.
https://github.com/infracloudio/botkube/blob/develop/helm/botkube/templates/clusterrole.yaml#L11

**To Reproduce**
Steps to reproduce the behavior:
Install chart (or template) with both rbac and psp enabled.

**Expected behavior**
Cluster role is set correctly.

**Screenshots**

[2020-08-19 11:16] abhisheks-infracloud opened #327 "Can we have readme for helm charts"
**Describe the solution you'd like**
it would be nice to have a readme for helm chart which describes about the values used by the helm chart?

**Additional context**
Currently there are no installation steps mentioned in the repo other than Documentation. it will help anyone landing to this repository for botkube installation through helm chart.

[2020-08-20 19:57] mleklund commented on #250
I'd like to send errors to a specific channel, and the chaff to another, so I am in the same boat.

[2020-08-29 11:32] mlewiarz opened #329 "Ability to exclude some pods based on label or name"
I want to monitor pods in some critical namespaces but in these namespaces we also have cronjobs which dumps db.
Problem is we got alerts when pods of this cronjobs are created and deleted.
Dumps are not critical so we would like to exclude them from alers.

It would be nice to add some annotation to cronjob/job/deployment/daemonset/statefulset we don't want to get alerted, or add some regex or fu

[2020-09-02 04:52] #312 closed

[2020-09-04 17:07] #313 closed

[2020-09-07 03:42] #200 closed

[2020-09-07 13:52] PrasadG193 opened #331 "[BUG] BotKube resource configuration in deployment manifests pointing to older syntax"
**Describe the bug**

Update default resource configuration in helm chart and deploy-all-in-one yamls wrt #253
https://github.com/infracloudio/botkube/blob/develop/helm/botkube/values.yaml#L33
https://github.com/infracloudio/botkube/blob/develop/deploy-all-in-one.yaml#L16

[2020-09-07 17:19] PrasadG193 opened #333 "[BUG] BotKube is crashing when invalid resource format provided"
**Describe the bug**

BotKube with latest build crashes in name in resource config is not in `G/V/R` format

**To Reproduce**
Deploy BotKube from develop branch with the latest image. Use the following resource configuration
[code]

**Additional Context**
Crash logs: https://gist.github.com/PrasadG193/4da70950d10e5a75815d9bfde586e4a2

[2020-09-07 17:28] #331 closed

[2020-09-07 17:30] PrasadG193 opened #334 "[BUG] Add e2e test for Custom Resource"
**Describe the bug**
Add e2e test to validate custom resource monitoring support

[2020-09-10 09:49] A-kanksh-a opened #336 "[BUG]Botkube gives panic error when kubectl command is enabled in resource configuration"
**Describe the bug**
Kubectl is by default set to false, enabling it to true causes runtime error of null pointer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'resource_config.yaml'
2. Change the value of settings.kubectl.enabled value to true
3. re-build the code
4. See error

**Expected behavior**
Enabling the kubectl value to true should allow kubectl commands to get executed usi

[2020-09-10 11:00] #336 closed

[2020-09-13 05:22] #334 closed

[2020-09-14 09:11] #333 closed

[2020-09-17 05:30] PrasadG193 commented on #329
Hey @mlewiarz ,
It is possible to ignore notifications for specific resources by adding annotations to it.
Please check:
https://www.botkube.io/usage/#filter-events-using-annotations

[2020-09-17 05:33] PrasadG193 commented on #327
Thanks @abhisheks-infracloud for pointing out.
We are going to add documentations about helm options in botkube.io.
We can use something like https://github.com/norwoodj/helm-docs to automate this

[2020-09-17 05:37] PrasadG193 commented on #295
This sounds good. We should definitely have this

[2020-09-17 05:53] abhisheks-infracloud commented on #327
Yes, that would be great. Thanks!

[2020-09-18 07:30] A-kanksh-a commented on #129
FYI, I have started working on the issue.

Using [kube-scan](https://github.com/octarinesec/kube-scan) will be a better solution.  [kubesec.io](https://kubesec.io/) scans for resources of kind Pod, DaemonSet, Deployment, StatefulSet and ignore the others.

[kube-scan](https://github.com/octarinesec/kube-scan) looks for each resource per namespace. For this, We can add a Botkube Configuration flag

[2020-09-19 11:57] PrasadG193 opened #339 "[BUG] Error events are getting ignored after dynamic client change"
**Describe the bug**
BotKube skips error events event is the error events are configured in resource config

**To Reproduce**
- Deploy BotKube with pod error events
- Create a Pod with invalid image

**Expected behavior**
BotKube should report error event

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-09-19 11:59] PrasadG193 opened #340 "Add test coverage for error events"
**Describe the bug**

In e2e test suite, we mock resource creation with fake client and verify the BotKube event generations.
https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/create/create.go#L46

We need to add similar test cases to verify error event handling.
We can use client-go [Event interface](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1#EventInterface)

[2020-09-19 16:45] PrasadG193 opened #341 "Add test coverage for update events in e2e tests"
In e2e test suite, we mock resource creation with fake client and verify the BotKube event generations.
https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/create/create.go#L46

We need to add similar test cases to verify update event handling.
We can use [Patch](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1#PodInterface) API for generating the update event. Along

[2020-09-19 16:55] PrasadG193 opened #342 "[BUG] Update events are not working after dynamic client change"
**Describe the bug**

Update events are not working after dynamic client change.
Need to refactor diff creation logic

[2020-09-21 05:47] #339 closed

[2020-09-21 05:47] #342 closed

[2020-09-24 13:24] A-kanksh-a commented on #129
- [kube-scan](https://github.com/octarinesec/kube-scan) re-scans resources in all namespaces every 24 hours. Thus, if you want to get an up-to-date risk score (e.g. after installing a new app or resources), you need to restart or wait. Botkube is a notification system, we should get the risk as soon as the resource is created.

- Also while scanning acquires a lock on the resources to check for ri

[2020-09-26 12:25] #248 closed

[2020-09-26 12:27] PrasadG193 commented on #227
Fixed with https://github.com/infracloudio/botkube/pull/253

[2020-09-26 12:29] PrasadG193 commented on #212
I believe this is already addressed with #203. Please feel free to reopen if it doesn't solve your use case.

[2020-09-26 12:29] #212 closed

[2020-09-26 12:30] PrasadG193 commented on #318
Fixed with https://github.com/infracloudio/botkube/pull/253

[2020-09-26 12:39] PrasadG193 commented on #318
My assumption was dynamic client will address this, but this is not the case.
We should check if BotKube SA has permission to LIST resources configured with [`SelfSubjectAccessReview`](https://godoc.org/k8s.io/kubernetes/pkg/apis/authorization#SelfSubjectAccessReview) API before creating informers.

[2020-09-28 03:50] PrasadG193 commented on #249
We should write a filter to check in case if error events, check if the status is `Terminating`, ignore skip the event.

[2020-09-28 03:52] PrasadG193 commented on #245
We should make username configurable through a configuration

[2020-09-28 03:54] PrasadG193 commented on #245
@mahendrabagul Are you still working on this?

[2020-09-28 05:47] PrasadG193 opened #349 "Add test coverage for '@BotKube notifier showconfig` command"
**Is your feature request related to a problem? Please describe.**

Test coverage is missing for notifier commands

**Describe the solution you'd like**

`@BotKube notifier showconfig` displays resource configuration that BotKube monitors and notifies about. See https://www.botkube.io/usage/#view-botkube-configuration

Integration tests for validating BotKube command responses are implemented here

[2020-09-28 06:15] PrasadG193 opened #350 "Add e2e test for executing kubectl command on forbidden verbs and resources"
**Is your feature request related to a problem? Please describe.**

Missing kubectl command test coverage for negative test-cases

**Describe the solution you'd like**

BotKube can be configured to allow access to specific kubectl commands only - https://github.com/infracloudio/botkube/blob/develop/test/resource_config.yaml#L224

Add a test case to execute kubectl command on a forbidden resource a

[2020-09-28 06:37] PrasadG193 commented on #325
Looks like we are using different indentation for rules. Should be easy to fix to have common indentation spacing.

[2020-09-28 06:40] PrasadG193 commented on #324
Need to add new BotKube command. BotKube command execution implementation is here: https://github.com/infracloudio/botkube/blob/develop/pkg/execute/executor.go#L180

[2020-09-28 08:29] haardikdharma10 commented on #320
Hey @PrasadG193, I'd like to help in solving this issue. However, I didn't get the second bullet point you have mentioned. Can you help me with it?

[2020-09-28 08:35] PrasadG193 commented on #320
Hi @haardikdharma10,
I meant `Makefile`, sorry for the confusion. So basically we should add a [Makefile](https://github.com/infracloudio/botkube/blob/develop/Makefile) target e.g - `make create-kind` and `make destroy-kind` targets to create and destroy KIND cluster

[2020-09-28 08:55] haardikdharma10 commented on #320
Also, should I add 2 different scripts for each one of them or only one should work, for both creating and destroying?

[2020-09-28 09:03] PrasadG193 commented on #320
We can have 2 targets - create and delete in a single script. Something like - `./hack/kind.sh create` & `./hack/kind.sh delete`
Additionally good to have `help` target also e.g `./hack/kind.sh help` which should be the default target as well.

[2020-09-28 10:45] mahendrabagul commented on #245
Yes, I will take care of this @PrasadG193

[2020-09-28 12:57] anoopmsivadas commented on #349
@PrasadG193  can I work on this issue?

[2020-09-28 13:05] sheetalsingala commented on #340
Please can I work on this?

[2020-09-28 13:12] anoopmsivadas commented on #350
@PrasadG193 Can You assign me on this one as well

[2020-09-28 13:15] PrasadG193 commented on #349
Go for it @anoopmsivadas. Please let me know if you have any doubts.

[2020-09-28 13:15] PrasadG193 commented on #350
Sure!

[2020-09-28 13:34] PrasadG193 commented on #340
Go for it @sheetalsingala. Please let me know if you have any doubts.

[2020-09-28 13:43] God-father1 commented on #295
You could put \s* in between every character in your search string so if you were looking for cat you would use c\s*a\s*t\s*s\s*s.

[2020-09-28 14:27] anoopmsivadas commented on #349
@PrasadG193 Hi, I tried running the tests before changing anything and it failed.Did it on my local machine. Here is the output.

[code]

[2020-09-28 15:12] ZaheerAhmedShaik opened #352 "[BUG] Missing container resource section for helm chart under deployment.yaml file"
**Describe the bug**
The `deployment.yaml` definition file is missing a container `resources` section for CPU & Memory requests and limits to be overrided from the values.yaml, whereas `resources` section is passed in the values.yaml file

Missing resources section under `spec.template.spec.containers` here https://github.com/infracloudio/botkube/blob/master/helm/botkube/templates/deployment.yaml#

[2020-09-28 15:49] hairyhenderson commented on #352
This was fixed in #330 but there hasn't yet been a release containing that

[2020-09-28 18:17] kichloo opened #353 "Documentation update"
Fix the typo errors in README.md and subsequently, update the documentation.

[2020-09-28 18:22] kichloo commented on #353
The label can be changed from 'bug' to 'documentation'.
Also please assign this issue to me!

[2020-09-29 03:21] anoopmsivadas commented on #349
hi @PrasadG193 , I'm facing issues while testing.This happens everytime i run the test on my local machine. I tried without making any changes
[code]

[2020-09-29 04:24] PrasadG193 commented on #349
@anoopmsivadas We use Go 1.13 in CI (https://github.com/infracloudio/botkube/blob/develop/.github/workflows/ci.yml#L18). Can you please try once with 1.13?

[2020-09-29 06:30] anoopmsivadas commented on #349
@PrasadG193  that issue is resolved.  but it seems to skip some tests due to LF character. I checked some CI logs of previously merged PRs and the same error is there

[code]

[2020-09-29 06:35] PrasadG193 commented on #295
@God-father1 would you like to give a try?

[2020-09-29 07:47] God-father1 commented on #295
Sure

On Tue, Sep 29, 2020, 12:06 PM Prasad Ghangal <notifications@github.com>
wrote:

[2020-09-29 07:58] anoopmsivadas commented on #350
Hi @PrasadG193 all i have to do is add one test case with a forbidden verb and a resource, right?

[2020-09-29 15:47] PrasadG193 commented on #353
Hey @kichloo, could you please elaborate more on what change you are asking in README?

[2020-09-29 17:29] kichloo commented on #353
@PrasadG193 I wanted to fix the typos present in the README.md file

[2020-09-29 18:29] KarenEfereyan commented on #352
Maybe a new issue requesting a release containing that could be opened? And I could work on it?

[2020-09-30 02:26] PrasadG193 commented on #352
We have published BotKube v0.11.0 release. Please use helm chart with version v0.11.0 for the latest changes

[2020-09-30 04:08] #352 closed

[2020-09-30 04:09] PrasadG193 commented on #327
Helm install options are documented here: https://www.botkube.io/configuration/#helm-install-options

[2020-09-30 04:09] #327 closed

[2020-09-30 04:15] PrasadG193 commented on #317
Hey @adusumillipraveen, we have recently made the v0.11.0 release. The botkube.io docs are now pointing to the latest release. The changelog can be found here: https://www.botkube.io/history/

[2020-09-30 04:15] #317 closed

[2020-09-30 04:18] PrasadG193 commented on #264
We have added support for monitoring custom resource in v0.11.0, please check if this solves your use case.
https://www.botkube.io/examples/#monitor-velero-backups

[2020-09-30 04:22] PrasadG193 commented on #215
Hey @venkateshmadala,
Can you please try once with BotKube v0.11.0?

[2020-09-30 04:30] christyjacob4 commented on #324
@PrasadG193 What would be the scope of this task ?

[2020-09-30 04:42] PrasadG193 commented on #350
Yes, that should suffice, we already have test coverage for command with allowed verbs/resources

[2020-09-30 05:06] PrasadG193 opened #354 "Add test coverage for delete events in e2e tests"
In e2e test suite, we mock resource creation with fake client and verify the BotKube event generations.
https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/create/create.go#L46

We need to add similar test cases to verify delete event handling.
We can use [Delete](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1#PodInterface) API for Deleting a resource.

Add test cas

[2020-09-30 05:18] PrasadG193 commented on #340
Hey @sheetalsingala I've updated the issue description about the test cases we should add. Feel free to choose one or more from the list

[2020-09-30 05:33] PrasadG193 commented on #341
@A-kanksh-a I have updated the description with required test cases. Please add the comments about tests cases you will be covering

[2020-09-30 06:20] anoopmsivadas commented on #350
@PrasadG193  I'm adding 2 test cases one with a forbidden verb and forbidden resource, and another one with allowed verb and a forbidden resource. is that fine?

[2020-09-30 06:22] A-kanksh-a commented on #341
@PrasadG193 I am working on the following:-

- Validate update events are handled for a resource with `events: [all]` and `updateSettings` in test config -
- Validate update events are handled for a resource with `events: [all]` without `updateSettings` in test config
- Validate that update events are skipped when an event occurs for a namespace which is not configured
- Validate that update event

[2020-09-30 08:52] PrasadG193 commented on #350
Sounds good. Thanks, @anoopmsivadas

[2020-09-30 13:14] kichloo commented on #353
@PrasadG193 Could you provide an update on this issue, because I did not know you removed the label.

[2020-09-30 13:46] abhisheks-infracloud commented on #327
Great..Thanks !!

[2020-09-30 16:50] Parikshit-Hooda opened #357 "[BUG] Typo in README.md"
**Describe the bug**
A clear and concise description of what the bug is.
Wrong spelling of word **communication**.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md' file
2. search for the word 'commucation'.

**Expected behavior**
Proper spelling.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Fixing during hacktoberfest'

[2020-09-30 16:54] PrasadG193 commented on #353
Hey @kichloo, can you please add more description about the issue? The current description doesn't make much sense

[2020-09-30 16:57] kichloo commented on #353
@PrasadG193 Done. Now, please assign this issue.

[2020-09-30 17:00] #357 closed

[2020-09-30 17:12] kichloo commented on #353
@PrasadG193 The changes which I wanted to implement are now already done by another user.

[2020-10-01 03:10] Divya063 commented on #354
@PrasadG193 I would like to add test cases for the following behavior - Validate delete events are handled with only events: [delete] config for a resource

[2020-10-01 03:34] PrasadG193 commented on #354
Thanks, @Divya063 - Please let me know if you have any doubts.

[2020-10-01 05:32] codenio commented on #249
I would like to take this up, kindly assign it to me.

[2020-10-01 06:03] #353 closed

[2020-10-01 06:46] A-kanksh-a commented on #354
@PrasadG193 I would like to contribute to following behaviour

- Validate delete events are skipped when delete event is not configured for a resources in test config. e.g events: [create, update, error]
- Validate that delete events are skipped when an event occurs for a namespace which is not configured
- Validate that delete events are skipped when an event occurs for a resource which is not ad

[2020-10-01 07:39] ShubhamSood1406 commented on #354
@PrasadG193 Can I do

- Validate delete events are handled for a resource with events: [all] in test config

[2020-10-01 13:12] PrasadG193 commented on #354
Sure @ShubhamSood1406, go ahead

[2020-10-01 13:49] jkremser commented on #295
I am also looking into this..

[2020-10-01 14:01] codenio commented on #249
@logbon72 can you provide a dummy YAML of the pod in Terminating state masking sensitive information

[2020-10-01 14:21] #350 closed

[2020-10-01 14:29] PrasadG193 opened #384 "[BUG] e2e tests are flaky"
**Describe the bug**

e2e tests on CI are failing for update events validate

See run history on master - e.g https://github.com/infracloudio/botkube/runs/1193896198

[2020-10-01 14:34] PrasadG193 commented on #249
@A-kanksh-a Are you working on this?

[2020-10-01 14:44] A-kanksh-a commented on #384
@PrasadG193 e2e Tests are failing because update event validation goes through a series of create and update a resource, while validating the same from `lastseenmessage`, it gets the create operation result, instead of update sometimes and the tests fail.
Need to check on that.

[2020-10-01 15:22] A-kanksh-a commented on #249
@PrasadG193 No, I have not done any conclusive work on this issue.

[2020-10-01 17:57] ShubhamSood1406 commented on #354
Please @PrasadG193 can you explain what I have to do exactly as I am a beginner.

[2020-10-02 09:05] codenio commented on #329
can this be closed?

[2020-10-02 09:11] codenio commented on #323
This feature is currently available for slack channels, using annotations `botkube.io/channel: <channel_name>`

Annotation ```botkube.io/channel: <channel_name>``` sends events notifications of the annotated object to the mentioned channel.

If this satisfies your requirement, kindly close this issue

[2020-10-02 09:16] codenio commented on #260
is this unresolved..?

[2020-10-02 12:49] codenio opened #393 "botkube help command"
**Is your feature request related to a problem? Please describe.**
Need to add `@botkube help` command in addition to `/botkubehelp` as custom commands are not supported by all platforms (discord for example)

**Describe the solution you'd like**
add  `@botkube help` command to the command list

[2020-10-02 13:33] PrasadG193 commented on #393
@codenio we had thought about this but this will return a duplicate response for multiple cluster env.

[2020-10-02 16:05] PrasadG193 commented on #354
@ShubhamSood1406 you can start with looking at test cases here: https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/delete/delete.go#L21
and here https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/create/create.go#L48
And see how we create and validate an event. We need to do a similar thing for validating delete events, so to summarize, in the test, we need

[2020-10-02 16:07] #295 closed

[2020-10-02 16:40] kelvinwijaya commented on #227
Hi @PrasadG193

I did a test and it seem the clusterrole is still needed, and have been using the latest iamge with tag v0.11.0 as per your merged for fix #253

[code]

I have follow the same instructions above as well to list all the resources to include namespace
[code]

[2020-10-02 16:44] PrasadG193 commented on #227
Thanks @kelvinwijaya for reporting. I will take a look

[2020-10-03 20:57] Divya063 commented on #340
@PrasadG193 I would like to work on the following test cases:
- Validate error events are handled for a resource with events: [all] in test config
- Validate error events are handled with only events: [error] config for a resource
- Validate error events are skipped when error event is not configured for a resource in test config. e.g events: [create, update, delete]
- Validate that error events a

[2020-10-05 04:11] #384 closed

[2020-10-05 04:23] #320 closed

[2020-10-05 04:32] PrasadG193 commented on #340
@Divya063 awesome! Please let me know if you need any help

[2020-10-05 10:08] A-kanksh-a commented on #341
@PrasadG193 I will be contributing to one more testcase:-

- Validate that update events are skipped when invalid fields are passed in updateSetting (e.g status.invalid for Pod).

[2020-10-05 18:42] codenio opened #402 "Proper Feeback instead of No Response while executing commands"
**Is your feature request related to a problem? Please describe.**
botkube does not provide a response when

- botkube commands are executed from non configured cluster,
- when a user tries kubectl commands but it is not enabled in are not enabled in the config

and some similar situations

**Describe the solution you'd like**
it should provide suitable feedback to the user

would like to work on

[2020-10-05 19:14] codenio commented on #402
again this response would be getting repeated in a multi cluster env.
need to find a way to over come such issues with multi cluster env

[2020-10-05 19:37] codenio commented on #402
In multi cluster env, the user could promote a particular k8s cluster name as leader any time.
which is recorded by all the instances of botkube present at the time.
only the leader responds to common commands like help or provides feedback in any non configured channel by default.

when a new instance of botkube comes up or when leader goes out, the user need to promote one of the existing instan

[2020-10-05 20:15] codenio commented on #402
or
to avoid manual promotions,

in a configured channel - only the paticular instance will respond to generic command and provide feedback

in a non configured channel -  the first one respond ping can be choosen as leader until the next ping command. and only leader responds to generic comands and provide feedback

[2020-10-06 04:37] #97 closed

[2020-10-06 06:52] codenio commented on #249
can someone help me by providing pod describe YAML, in this case?
or steps to replicate this behavior.?

[2020-10-06 13:20] soq opened #406 "[BUG] Botkube can't create index in AWS ElasticSearch"
**Describe the bug**
With version 0.11.0 and AWS ElasticSearch usage I get an error in botkube logs:
`ERRO[2020-10-06T12:50:59Z] Failed to create index. Error:elastic: Error 500 (Internal Server Error): Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes [type=not_x_content_exception]`
and in AWS ELK logs:
`org.elasticsearch.common.compress.NotXContentExcept

[2020-10-06 23:44] avats-dev commented on #341
@PrasadG193 I want to work on :
- Validate error events are skipped when the update event is not configured for a resource in test config. e.g `events: [create, error, delete]`

Also, can you guide me a bit in implementing this as I'm not that well-versed in `go`?

Maybe @A-kanksh-a can as she has resolved many of these.

[2020-10-07 05:39] A-kanksh-a commented on #341
@avats-dev you can look into the following file for reference:- [https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/update/update.go](https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/update/update.go) or [https://github.com/infracloudio/botkube/blob/develop/test/e2e/notifier/create/create.go](https://github.com/infracloudio/botkube/blob/develop/test/e2e/no

[2020-10-07 18:31] juneeighteen opened #407 "`kubctl rollout restart deployment/xyz` functionality"
**Is your feature request related to a problem? Please describe.**
The one missing feature in botkube for me is the ability to have users run `@BotKube rollout restart deployment/staging-app`

**Describe the solution you'd like**
I cannot get BotKube to support the rollout kubectl verb. I've tried adding it, but it keeps telling me "Command is not supported"

**Describe alternatives you've conside

[2020-10-09 05:46] PrasadG193 commented on #324
Hey @mikebell90, could you please add more details like - Which Prometheus you are talking about (deployed in cluster or external)? We will also need to find a way to configure Prometheus endpoint

[2020-10-09 06:50] mlewiarz commented on #329
Yes, now I only have to find a way to pass annotation from to pod CronJob -> Job -> Pod

[2020-10-09 06:50] #329 closed

[2020-10-09 16:41] othyn opened #408 "[BUG] No response to certain Slack messages and it always requires --cluster-name"
**Describe the bug**
Having some strange behaviour with the commands via Slack. I have just installed this into my cluster using the `v1.11.0` script, following the installation steps.

The installation works fine and its on the whole, an excellent tool. Amazing work by the team here!

The problem arises when I try to use commands via Slack. Some of the commands work, some of them do nothing and d

[2020-10-10 13:19] archit041198 commented on #340
Hi @PrasadG193 I would like to work on Validate that error events are skipped when an event occurs for a namespace which is not configured

[2020-10-12 04:33] PrasadG193 commented on #408
@othyn There are 2 sets of BotKube commands -
1. Configuration Commands - (like `@BotKube` notifier/commands/filters) which can be executed from only within a channel that is configured to push notifications to while installing backend. The reason is if someone changes notification settings, it should be visible to the members.
2. Kubectl commands - Now, if kubectl command is executed in a channel

[2020-10-12 04:37] PrasadG193 commented on #407
@juneeighteen Could you please share kubectl command config you added to allow this command. For every command BotKube maps it to `@BotKube [verb] [resource] ..... ` format and checks if verb and resource exists in the configuration. You can try with adding `rollout` in the verb and `restart` in the resource. Also, keep in mind to update botkube-clusterrole to give permission to BotKube SA to exec

[2020-10-12 10:15] othyn commented on #408
Thanks for your help!

Turns out I was being an idiot and had set the Slack channel name up with the `#` character still included in the name, removing it solved the issue, as as you say, it is now inline with the backend configured channel, so now works.

[2020-10-14 12:19] PrasadG193 opened #412 "Use rego syntax to write BotKube filters"
**Is your feature request related to a problem? Please describe.**

We should explore if we can use rego language (https://www.openpolicyagent.org/docs/latest/policy-language/) to write BotKube filters

[2020-10-15 06:16] #408 closed

[2020-10-16 14:08] juneeighteen commented on #407
Thanks @PrasadG193 !!

We can now send the Slack command "BotKube rollout restart deployments/appName". 🥳

This is what I ended up with and it's working!
[code]

ConfigMap:
[code]

[2020-10-16 14:08] #407 closed

[2020-10-18 09:52] sushrut111 commented on #406
I would like to work on this. I have worked on AWS Elasticsearch and have worked on developing the integration hooks.
However I will need detailed steps for reproducing the issue. Please let me know if I can start working on this.

[2020-10-18 10:54] sushrut111 commented on #406
I could not reproduce this issue. I used the following ELS config:

[code]
I disabled the auth totally.

I will again try with Basic Auth. Meanwhile @soq can you help me with the steps for reproducing the issue?

[2020-10-18 11:20] sushrut111 commented on #406
Could not reproduce event with basic auth

[code]

[2020-10-19 22:17] nomanyaqubny-zz opened #414 "Not able to run container on Ubuntu"
I followed the instructions at https://www.botkube.io/contribute/ and added a filter, which I can build and run locally without any problem. Thanks for the filter examples.

Now, when I create an image and install helm chart on a Ubuntu VM:

`helm install --version v9.99.9-dev botkube --namespace botkube -f botkube-config.yaml --set image.repository=<my_account>/botkube --set image.tag=latest infr

[2020-10-20 10:29] PrasadG193 commented on #414
Hey @nomanyaqubny,
Could you please share the content of `botkube-config.yaml`? Also, please hide any sensitive info like token before posting the content :)

[2020-10-20 11:15] nomanyaqubny commented on #414
communications:
  webhook:
    enabled: true
    url: 'https://api.mydomain.com/events'
config:
  # Cluster Setting to manage command execution access
  settings:
    # Set cluster name to differentiate incoming messages
    clustername: my-k8s-cluster
    # Kubectl executor configs
    kubectl:
      # Set true to enable kubectl commands execution
      enabled: false
    # Set true to enable con

[2020-10-21 03:26] soq commented on #406
Hello @sushrut111 !

I use following config:
[code]
And we use AWS ElasticSearch version 6.7.
Here are some related ES parameters that I can see:

[code]

[2020-10-21 14:26] sushrut111 commented on #406
Thank you for the information. I will check with version 6.7 with no auth.

[2020-10-22 16:32] sushrut111 commented on #406
Moreover the issue is specific to aws es and the general oss build of es:
[code]

[code]

[2020-10-22 16:44] sushrut111 opened #415 "[BUG] Botkube tries to create an index even when index is already present in elasticsearch"
# Description
When elasticsearch plugin is enabled, botkube tries to query elasticsearch to see if index exists. Even if the index is present, it gets a false response and it tries to create the index again to get a 400
[code]

# How to reproduce
Steps to reproduce the behavior:
1. Enable elasticsearch plugin specifying elasticsearch address (I tried with AWS ES v7.7, v6.7, OSS ES v6.7)
2. Start b

[2020-10-27 13:24] A-kanksh-a commented on #227
hey @kelvinwijaya Can you please share the role, rolebinding, serviceaccount you used to test.

[2020-10-28 17:13] bribroder opened #419 "[BUG] Ignored namespace list gets ignored"
Since updating from 0.10.0 to 0.11.0, ignoring some namespaces while including "all" doesn't work--the ignore list seems to simply be ignored:

[code]

Specifying certain namespaces to include does work, but isn't ideal

[2020-10-29 04:08] PrasadG193 commented on #414
Do you see and panic/crash logs?

[2020-10-29 08:41] sgandon opened #420 "add a `--cluster-name` to the `commands list`"
**Is your feature request related to a problem? Please describe.**
after adding @botkube to a channel you can query any cluster by using `--cluster-name` but you can't see the list of authorized commands for a given cluster as the `@botkube commands list` does not support `--cluster-name`

**Describe the solution you'd like**
update the `@botkube commands list` to support the `--cluster-name` opti

[2020-10-29 09:09] sgandon opened #421 "add support for default cluster and namespace on any Slack channels"
### **Is your feature request related to a problem? Please describe.**
When inviting @botkube on any channel or using it in @botkube DM,
If you want to issue a series of kubectl command on a cluster it is really annoying to have to specify the cluster name or the namespace all the time.

### **Describe the solution you'd like**
It would be nice to have the same behaviour as one expect from the kub

[2020-10-29 09:36] A-kanksh-a commented on #227
@PrasadG193 we are using DynamicInformer which by default takes all namespace [https://github.com/infracloudio/botkube/blob/develop/pkg/utils/utils.go#L141](https://github.com/infracloudio/botkube/blob/develop/pkg/utils/utils.go#L141) Also, we have ResourceInformer Map [https://github.com/infracloudio/botkube/blob/develop/pkg/utils/utils.go#L144](https://github.com/infracloudio/botkube/blob/develo

[2020-10-29 21:26] sgandon opened #422 "Support Slack thread for kubectl query"
**Is your feature request related to a problem? Please describe.**
when Interacting with a bot on a channel, it is impossible to chat with the bot in a thread and this can be helpfull to not polute the main channel with commands.

**Describe the solution you'd like**
having bot command to respond in threads

[2020-11-02 05:21] #325 closed

[2020-11-03 05:39] PrasadG193 opened #426 "Add e2e tests for elasticsearch support"
**Describe the solution you'd like**
Add an e2e test to validate the els index creation and event POST calls. We can mock els server to achieve that

[2020-11-03 08:42] #422 closed

[2020-11-04 11:16] Hunter-Thompson opened #428 "panic: runtime error: index out of range [0] with length 0"
https://www.botkube.io/installation/mattermost/

I followed this tutorial step by step, and when deploying it, it fails.

I am deploying using the `kubectl` option.

[code]

I get a notification in my channel that the bot started so the connection to MM is not the problem.

[2020-11-04 14:17] A-kanksh-a opened #429 "defaultNamespace field in config won't work on changing to other than default"
**Describe the bug**
Botkube doesn't produce report of other namespace except default even if resource configuration is changed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'resource_config.yaml'
2. Change the default namespace field other than default for ex- `botkube`
3. deploy botkube and then run the command `@Botkube get deployments` from the applications.
4. It will show resul

[2020-11-04 15:55] Hunter-Thompson commented on #428
I believe I was getting this error because I didn't use the username `botkube` in Mattermost. when I changed the name to `botkube` it started working

[2020-11-04 15:55] #428 closed

[2020-11-09 12:54] sgandon commented on #429
Indeed I have also noticed it and fixed it in a PR I am preparing for #421 .

[2020-11-09 12:55] sgandon commented on #421
I am working on it

[2020-11-09 17:50] asurahack opened #431 "[BUG] prometheus servicemonitor selector mismatch with service labels"
**Describe the bug**
Current servicemonitor selector from botkube helm chart does not match with labels of created botkube kubernetes service:

[servicemonitor selector block](https://github.com/infracloudio/botkube/blob/develop/helm/botkube/templates/servicemonitor.yaml#L20-L27):
[code]
[service labels block](https://github.com/infracloudio/botkube/blob/develop/helm/botkube/templates/service.yaml

[2020-11-10 17:56] PrasadG193 opened #432 "Switch to github container registry to host BotKube container image"
**Is your feature request related to a problem? Please describe.**
Since docker hub has started applying rate limits on image pulls, better to switch to an alternate solution - GitHub container registry
https://docs.github.com/en/free-pro-team@latest/packages/managing-container-images-with-github-container-registry/connecting-a-repository-to-a-container-image

**Describe the solution you'd like**

[2020-11-11 03:16] vaibhavp commented on #432
Hey @PrasadG193 , Please assign this to me. I would like to take this up

[2020-11-11 19:07] theminecoder opened #433 "Helm commands"
**Is your feature request related to a problem? Please describe.**
Be able to use helm commands from the bot to install/upgrade charts while on the go.

**Describe the solution you'd like**
Just like we can run kubectl, we would be able to run helm commands with support for `--cluster-name`.

**Describe alternatives you've considered**

**Additional context**

[2020-11-12 16:10] ty-machine opened #434 "Feature Request: Customizable Messages"
**Is your feature request related to a problem? Please describe.**
I would like to be able to customize the messages based on specific conditions. e.g. when something errors I would like to be able to add an @group to the message.

**Describe the solution you'd like**
[code]
Something similar to the above configuration would provide the ability to put "Attention: @group" in the error message.

**D

[2020-11-22 18:37] Kydybets opened #435 "[BUG] Error message is not show the correct date in Slack"
**Describe the bug**

When I got a message in slack about any Error the time is wrong

But when we got a message about Update or Create it show the right time

**To Reproduce**

**Expected behavior**
in the Error message, it show the correct name.

**Screenshots**

<img width="593" alt="Screenshot 2020-11-22 at 20 31 18" src="https://user-images.githubusercontent.com/27759761/99913812-66094480-2d0

[2020-11-25 08:54] hehua2018 opened #436 "Robot function module"
Hello! Can the robot code out, so that the robot function can do modular, convenient to do CI/CD, modular can handle API interface, thank you!

[2020-12-02 01:19] alexavrutin commented on #429
I also encountered this problem but in my case adding -n <namespace name> didn't help. The bot simply does not return anything if I specify -n. If I don't specify -n, it returns "No resources found..." Any ideas what might cause it?

[2020-12-02 17:35] sgandon commented on #429
@alexavrutin to be sure about what you are doing, the `-n` shall be used to specify a namespace like `@botkube get pods -n default` where `default` is the namespace named `default`.
You can just use `-n` without any string following it.

[2020-12-04 18:46] mikebell90 commented on #323
That's not remotely practical in most cases, as noted above.

[2020-12-09 05:25] hellozee commented on #435
Can't reproduce it with my setup.
 - Does this happens all the time in your case?
 - or happens once in a while? like while restarting botkube
 - or happens with that specific pod only?

[2020-12-13 14:00] PrasadG193 commented on #415
Could not reproduce on ES v7.10.1 and BotKube develop branch. @sushrut111 Do you mind deploying the develop version of BotKube to verify if this is resolved?

[2020-12-13 14:11] #420 closed

[2020-12-13 14:15] sushrut111 commented on #415
Sure will check. I may take some time as I am planning to be away for a few days.

[2020-12-17 17:47] Kydybets commented on #435
@hellozee this is happens
 - this is happening everytime;
 - it it happens in the different pods, we test it out in 4 clusters, the same behavior,

 we got this error simultaneously,
 as for messages for update, create everything is correct.

[2020-12-21 05:30] PrasadG193 opened #439 "Discord - Add Slash commands for botkubehelp"
**Is your feature request related to a problem? Please describe.**

There is no way to view BotKube help on discord

**Describe the solution you'd like**

https://discord.com/developers/docs/interactions/slash-commands#slash-commands-interactions-and-bot-users

The Slash commands for the discord app can be registered through HTTP endpoint using client_id and guild_it. On calling Slash command, the

[2020-12-29 09:55] lukasmrtvy commented on #319
Is possible to resolve ENV variables in botkube ?
What about this?
[code]

Btw: `extraEnv` is not supporting valueFrom in helm chart, but its easy to do..

[2020-12-29 15:07] docwhat commented on #319
That seems like it would work.  Is using environment variables the ideal way to set secrets?

[2020-12-31 08:43] hjpotter92 opened #440 "[BUG] Unable to use kubectl commands"
**Describe the bug**
We have deployed the app to our organisations slack channels. The settings specific to `kubectl` commands is as follows:

[code]

**To Reproduce**

When using any of the commands (except for `ping`) from the authorised slack channel, the botkube logs the following message:

[code]

and no response is sent back to the slack channel or the user.

**Expected behavior**
The comman

[2020-12-31 09:16] PrasadG193 commented on #440
@hjpotter92, I see you are setting `restrictedAccess: true` in the config. Setting that will executing commands only from the channel you get notifications in. Can you please check if you are running the command in the correct Slack channel?

[2020-12-31 09:53] hjpotter92 commented on #440
@PrasadG193 yes. I have the following slack configuration:

[code]

and I am indeed sending message inside that channel

`ping` is the only command that works

![2020-12-31_15_23_32](https://user-images.githubusercontent.com/3393533/103405165-2c86ed00-4b7c-11eb-8f6c-852bf234a5bc.png)

[2020-12-31 10:11] PrasadG193 commented on #440
Hey @hjpotter92, can you try giving Slack channel name without `#` prefix?

[2020-12-31 10:25] hjpotter92 commented on #440
Removing the `#` prefix does work now.

Thanks

[2020-12-31 10:25] #440 closed

[2021-01-02 14:38] PrasadG193 commented on #439
Discord Interaction API and Slash commands are not supported by Go sdks as of now. We'll have to wait till https://github.com/bwmarrin/discordgo/pull/856 gets merged.

[2021-01-03 05:19] PrasadG193 commented on #432
Hey @vaibhavp are you still working on this?

[2021-01-03 08:47] PrasadG193 opened #441 "[BUG] Discord - getting wrong timestamp with notification"
**Describe the bug**

Discord app is reporting the wrong timestamp of event.

**To Reproduce**

- Install BotKube with Discord integration
- Create a deployment
- Timestamp of received notification

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

![image](https://user-images.githubusercontent.com/7098659/103474858-de692800-4dcd-11eb-8a75-a047

[2021-01-03 09:44] #441 closed

[2021-01-04 04:14] vaibhavp commented on #432
@PrasadG193 as per our discussion on slack it is pending for decision to move it or not on GitHub registry.

[2021-01-04 04:19] PrasadG193 commented on #432
@vaibhavp We had decided to go with GHCR. I think you missed the thread :slightly_smiling_face: . I'll tag you there

[2021-01-04 10:01] PrasadG193 opened #443 "Add e2e test for namespace checker filter"
**Is your feature request related to a problem? Please describe.**

Add an e2e test to verify namespace checker filter https://github.com/infracloudio/botkube/blob/develop/test/e2e/filters/filters.go#L44

**Additional context**

This is a followup task of https://github.com/infracloudio/botkube/pull/437

[2021-01-04 10:16] #419 closed

[2021-01-11 17:01] vishal-biyani commented on #323
Hi @mikebell90 Can you please elaborate on what do you mean by "notify groups"?

[2021-01-11 17:04] vishal-biyani commented on #436
Hey @hehua2018 I am not really sure what is being requested here. Can you please elaborate a bit in detail? Please reopen the issue when adding more detail, I will close it for now.

[2021-01-11 17:04] #436 closed

[2021-01-11 17:08] mikebell90 commented on #323
To apply matches to every single possible notifier rule. These matcheers are "groups"

[2021-01-12 03:16] hehua2018 commented on #436
I mean: can you start a robot project to do CI/CD

[2021-01-12 14:28] doronmak opened #444 "Support using multiple Slack channels with different configuration"
I didn't see an option to use the same bot instance for a different configuration.
for example, I want to create a channel for an error of pods and another channel for node problems.
I think it can be really useful.
maybe can be a configuration per channel and you can manage your channel and your message needed in the same place.

thank you a lot.

[2021-01-14 01:54] admun opened #446 "support for raspberry pi"
Please provide image for raspberry

[2021-01-21 03:31] robincher commented on #319
Have a similar related questions to @lukasmrtvy

Can i use an Env variables to overwrite the configMap values?

If so, where should i put it? At the Deployment level with the corresponding container env vars ? or at the config level shown above.

[code]

[2021-01-21 19:35] darkhelmet opened #450 "[BUG] Events not ignored in namespace despite having namespace in ignore for resources"
**Describe the bug**

I'm running botkube on our devops EKS (v1.18.9-eks-d1db3c) cluster which does CI. Jenkins creates things in the devops-jenkins-agents namespace. It does this a lot, and I don't need pod creation/deletion events for that namespace. I've added the namespace to ignore in the v1/pods resources section (that's the only change from the default install using the helm chart) and it s

[2021-01-23 06:41] sushrut111 commented on #415
Tested with ES 7.10.2, could not reproduce the issue:
[code]

[2021-01-23 06:43] #415 closed

[2021-01-26 11:48] lemaral commented on #444
I would like also to use different channels for separate namespaces, to allow developers to monitor only their related workloads instead of having to watch everything

[2021-02-02 05:48] PrasadG193 commented on #450
Duplicate issue: #419
Fixed in v0.12.0

[2021-02-02 05:48] #450 closed

[2021-02-15 05:33] PrasadG193 commented on #444
We had started with the profiling feature https://github.com/infracloudio/botkube/pull/291 which makes it possible to have a more fined-grained BotKube configuration. But that needs some rework to be done

[2021-02-15 09:24] lebenitza commented on #319
Any news about this?

[2021-02-15 14:04] Jelle7 opened #456 "Setting default namespace has no effect"
https://github.com/infracloudio/botkube/blob/1a4398ffba8022c44907f69c250713ad0692e189/deploy-all-in-one.yaml#L223

I found that this line is wrong in the deploy config. It should be `defaultnamespace` (without capital N) at the moment for the application to recognise it.

Since all other config options are camelcase, it should probably be BotKube itself that needs a fix instead of the config.

[2021-02-15 14:17] Jelle7 commented on #456
Duplicate: **https://github.com/infracloudio/botkube/issues/429**

[2021-02-15 14:17] #456 closed

[2021-02-17 09:50] sudarshanaks opened #457 "How to fix docker vulnerabilities ?"
Hi Team,

We are getting 7  vulnerabilities in docker image. I'm trying to update the packages but looks like some files are missing & docker build is failing. Could you please let me know correct way to rebuild these images.

[2021-02-22 12:55] rsaeba opened #458 "Default namespace key must be lowercase"
Hi,
Defining a default namespace in helm/botkube/values.yaml with :
line 261 : defaultNamespace: "example"

The key must be in lowercase

[2021-02-25 15:12] sramek5 commented on #458
Agree! Found it using `@BotKube notifier showconfig`commnad.

[2021-02-25 15:14] sramek5 commented on #429
#458

[2021-02-25 15:22] sramek5 commented on #250
Well, I would like to have a same feature.
We use BotKube in our Slack to notify about Deployment tool status directly to responsible person "@name.surname" instead of channel.
It would be great, if BotKube could mention status to more persons and also public channel.
For example like this:
[code]

[2021-02-25 15:28] sramek5 commented on #202
Well, I would like to see a simple feature:

We use BotKube in our Slack to notify about Deployment tool status directly to responsible person "@name.surname" instead of channel. It would be great, if BotKube could mention status to more persons and also public channel.

For example like this:
[code]

[2021-02-26 03:06] PrasadG193 commented on #458
Fixed with: https://github.com/infracloudio/botkube/pull/459

[2021-02-26 03:06] #458 closed

[2021-02-26 03:06] PrasadG193 commented on #429
Fixed with: https://github.com/infracloudio/botkube/pull/459

[2021-02-26 03:06] #429 closed

[2021-03-03 11:06] adityadoke opened #460 "[BUG]"
**Describe the bug**
My @BotKube is not working on my cluster  **charizard.alpha-sense.org** - its throwing invalid request error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Fire command through slack

@BotKube commands list

@BotKube get pods --cluster-name charizard.alpha-sense.org

@BotKube notifier status

@BotKube get deployment --cluster-name charizard.alpha-sense.org

4. S

[2021-03-03 12:47] girishg4t commented on #460
@PrasadG193 i have added small logic to remove the unwanted string from clustername, i have tested that using slack but not with other channels, if the behavior is different then we can add separate method to resolve that

[2021-03-08 20:09] kartik-moolya opened #462 "Need Support for IRSA on AWS"
**Is your feature request related to a problem? Please describe.**
Currently the AWS signing works only when the request goes through EC2 metadata endpoint. We need to be able to auth using the Webhookidentity auth provided by AWS
https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

**Describe the solution you'd like**
Allow creating AWS session object using the we

[2021-03-09 17:30] mumrau commented on #32
This is irrelevant now and should be closed (ping @sanketsudake probably).
See https://github.com/infracloudio/charts.

I ended up here while looking for the place where the helm chart is now hosted.

[2021-03-10 06:34] #460 closed

[2021-03-17 08:44] #462 closed

[2021-03-24 02:44] dmthomson commented on #250
Use case for sending event one channel vs kubectl access to another.

Since you already have it going to a dedicate person did you try using @slack_group?

[2021-03-24 02:45] dmthomson commented on #250
I would love to be able to route functionality to different channels instead of all in one without needing to run multiple deployments.

Events could go to a certain channel, k8s commands another. etc

[2021-03-31 13:18] Ahmadabed83 opened #465 "[BUG]"
**Describe the bug**

Run the following on slack:

[code]

failed with the following error:

[code]
labels looks like a URL are handled as hyperlinks.

**To Reproduce**
Steps to reproduce the behavior:
- Sent the following command on the slack channel:
[code]

**Expected behavior**

retrieve a list of pods with the provided label

**Screenshots**

**Additional context**

May have the same issue th

[2021-03-31 13:24] Ahmadabed83 commented on #465
issue solved in the latest image ( waiting the released version )

[2021-03-31 13:24] #465 closed

[2021-04-01 14:55] muradheydarov opened #466 "Get Who did change"
Hi, Is there any way to get take who did action? For example who deleted or scaled up deployment. It will really good point using RBAC and get which user did this action.

[2021-04-06 14:57] gauravgola96 opened #468 "How to get notify when pod retarts!"

[2021-04-06 18:19] maxisam commented on #202
Is it possible to use MS Team without public endpoint? like using it as a webhook. I tested webhook but it doesn't work with MS Team's webhook connector. I think the webhook in MS Team has a specific format.

[2021-04-09 16:49] maxisam opened #469 "Feature Request: Special Webhook for MS Team"
**Is your feature request related to a problem? Please describe.**
Can't use webhook for MS Team

**Describe the solution you'd like**

Is it possible to use MS Team without public endpoint? like using it as a webhook. I tested webhook but it doesn't work with MS Team's webhook connector. I think the webhook in MS Team has a specific format.

https://docs.microsoft.com/en-us/microsoftteams/platfor

[2021-04-12 23:51] rkennedy-tpl commented on #115
has this actually be solved or do I need to perform additional Slack configuration? it responds to at least `ping` but most other commands appear ignored.

![image](https://user-images.githubusercontent.com/76958947/114476340-0552a980-9bc8-11eb-88a1-81072b22b742.png)

[code]

I tried with `tag: v0.12.0` and also tried on `-latest`. (I got a friendly warning for doing that too!)

![image](https://u

[2021-04-13 16:24] San-Nuk opened #470 "Add Support for Webex Teams Integration"
Please add support for Webex Teams Integration. I really like the product(bot-Kube) but in my company we are using Webex teams for IM.

[2021-04-14 18:55] rkennedy-tpl commented on #249
I believe I observed this. pods terminating throw liveness-probe and readiness-probe errors via BotKube and it's somewhat "unexpected" because the deployment is proceeding as expected.

so I went to hunt for an example of the Pod YAML during termination....

from the bottom of k8s doc section => https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

there may not be a good si

[2021-04-15 07:57] kartik-moolya opened #471 "Capability to specify imagePullSecrets for downloading the docker image"
**Is your feature request related to a problem? Please describe.**
While pulling images from Docker we should be able to specify imagepullsecrets to overcome dockerhub rate limitting issue

**Describe the solution you'd like**
Add the imagepullsecrets support in K8s manifests and Helmcharts

**Describe alternatives you've considered**
Maintaining the image in private cloud container repositories

[2021-04-15 08:57] #471 closed

[2021-04-18 06:30] PrasadG193 opened #474 "[BUG] Make CI compatible with helm3"
**Describe the bug**

helm chart publish step in CI is failing with
[code]

[2021-04-18 11:12] #474 closed

[2021-04-21 02:53] codenio commented on #435
@Kydybets, can you check the local time in your clusters.?

botkube uses `time.Now()` as timestamp as default and updates it in case of Create or Delete from the Object Metadata
https://github.com/infracloudio/botkube/blob/9f9d3725e3e7ce555fff023c7b96963e6026a602/pkg/events/events.go#L87-L101

[2021-04-21 12:41] Kydybets commented on #435
Unfortunately, i can't check cause u don't have set-up environment

[2021-04-21 12:41] Kydybets commented on #435
so i think we can close this for now

[2021-04-21 12:41] #435 closed

[2021-04-26 20:28] chrisrink10 opened #477 "Allow users to disable ANSI color in logging"
**Is your feature request related to a problem? Please describe.**
Botkube logs seem to have [ANSI color codes on by default](https://github.com/infracloudio/botkube/blob/develop/pkg/log/log.go#L42) (and provide no configuration to disable them). In our cluster, we ship logs to an ELK stack offsite (and do not often view them using a traditional terminal). The ANSI codes impair readability of logs

[2021-04-27 13:00] trntv opened #478 "Filter events by event.reason"
**Is your feature request related to a problem? Please describe.**
We want to receive notifications about all errors/warning except FailedScheduling as it is a normal state and it triggers cluster autoscaling. With cluster built mostly on spot instances it happens often

**Describe the solution you'd like**
It would be nice to have a built-in filter on `reason`

**Describe alternatives you've cons

[2021-05-06 08:59] pierluigilenoci opened #480 "Configure tokens and credentials from secrets/envs"
**Is your feature request related to a problem? Please describe.**

To date, the chart cannot be used with a GitOps approach.

**Describe the solution you'd like**

Give the ability to configure tokens and credentials from the environment variables instead of explicitly including them in the configuration. In this way integration with secrets (and vaults) is possible.

**Describe alternatives you'

[2021-05-06 09:20] pierluigilenoci commented on #319
Any news? @ebrianne already solved this here: https://github.com/ebrianne/helm-charts/pull/9

[2021-05-06 09:21] pierluigilenoci commented on #480
Another issue for the same problem https://github.com/infracloudio/botkube/issues/319

[2021-05-06 09:22] pierluigilenoci commented on #480
And another https://github.com/infracloudio/botkube/issues/211

[2021-05-06 09:23] pierluigilenoci commented on #480
And a PR: https://github.com/infracloudio/botkube/pull/226

[2021-05-06 09:23] ebrianne commented on #319
If that's fine I can make a PR soon to integrate this into the official chart

[2021-05-06 09:23] pierluigilenoci commented on #480
And another PR: https://github.com/infracloudio/botkube/pull/233

[2021-05-06 09:26] pierluigilenoci commented on #480
And here: https://github.com/ebrianne/helm-charts/issues/20 and https://github.com/ebrianne/helm-charts/pull/9

[2021-05-06 09:28] pierluigilenoci opened #481 "[FR] Official entry for Botkube in Artifact Hub"
**Is your feature request related to a problem? Please describe.**

To date there is only the unofficial chart from @ebrianne:

https://artifacthub.io/packages/helm/ebrianne/botkube

This chart deserve an official place there.

**Describe the solution you'd like**

An official entry on Artifact Hub.

**Describe alternatives you've considered**

No alternative

[2021-05-06 09:36] pierluigilenoci commented on #480
I would say that the time has come to solve this problem. 😛

[2021-05-06 09:57] pierluigilenoci commented on #480
I have seen @ebrianne's solution and it seems more of a workaround than a real solution. The proposed solution forces to keep an entire configMap somewhere with confidential information and, to my knowledge, in this way integration with a vault is not possible.

A more complete approach would be to allow to take tokens from environment variables (like [Grafana](https://github.com/grafana/helm-char

[2021-05-06 09:58] pierluigilenoci commented on #319
@ebrianne I've added a comment about your solution here: https://github.com/infracloudio/botkube/issues/480#issuecomment-833398470, could you please take a look?

[2021-05-06 10:03] ebrianne commented on #480
This is not much of a workaround. I would say maybe a partial solution. I am only targeting the communication secret here that the user can provide directly and use for example SealedSecrets for GitOps. I did not think about the config (as a ConfigMap) itself, is that much sensitive information? I believe this could still be done in a similar way by providing a secret and mounting it but that may

[2021-05-06 16:54] pierluigilenoci commented on #480
I prefer not to save secrets in a repo, even if in a SealedSecret.

[2021-05-06 22:40] svityashchuk commented on #414
I've experienced the same issue when I tried to build linux/amd64 binary on macOS and run helm chart with my custom image.
Same error I got in my logs: `/go/bin/botkube: line 1: syntax error: unexpected "("`

The problem was due to the specifying GOOS and GOARCH in wrong way (I've edited Makefile).
Eventually, I reverted it back and just ran:

[code]

Hope this helps.

[2021-05-10 14:42] onedr0p commented on #432
Any update on this?

[2021-05-11 08:35] pierluigilenoci opened #484 "[FR] Improve resources configuration in Helm Chart"
**Is your feature request related to a problem? Please describe.**

The configuration of the `resources` is frustrating.

**Describe the solution you'd like**

It would be useful to allow to configure the `resources` section in the chart to add only the changes you want for certain types of `resources` and take the default configuration otherwise. Now the default `resources` value is an [array](ht

[2021-05-11 16:06] zarelit opened #485 "Allow TLS connection to ElasticSearch clusters with untrusted certs"
By default the [ECK operator](https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html) will deploy an ES cluster with TLS enabled with certificates that are not signed by a trusted CA.

ES clusters signed by custom CAs are pretty common when the service is not exposed to the Internet so it would be nice to support this usecase by adding an option to opt out of the certificate validation wi

[2021-05-12 07:15] pierluigilenoci opened #486 "Define the channel at the namespace level"
**Is your feature request related to a problem? Please describe.**

Clusters are shared resources, most often by many teams, and each team needs to define its own channel. It is very frustrating to have to add BotKube annotation to all resources manually and it is also prone to errors.

**Describe the solution you'd like**

Teams are often separated by namespaces. It would be very useful to be abl

[2021-05-12 07:48] pierluigilenoci commented on #486
I'm sorry I'm not an expert in GO otherwise I would have tried to do a PR but looking at the code I would say that this feature could be implemented in the filter for the namespace. When checking whether the namespace needs to be "mutated" it can also be checked whether the namespace has a default channel to apply. My 2 cents.

[2021-05-21 13:57] #245 closed

[2021-05-25 13:03] #319 closed

[2021-05-27 12:31] surajnarwade opened #490 "Return deployment status"
Use case:

For example, I updated an image and rolled out a deployment, I would like to know the progress of the deployment or if its successfully rollout or not,

equivalent kubectl command:

[code]

* As of now with botkube I can see that image is being changed and replicas are being updated, but it would be cool if we get deployment status as well.

[2021-05-28 14:59] mumrau opened #492 "Include or explude namespaces based on labels"
Hello,

I think that botkube should be able to adapt its selective filter according to labels on the namespace, i.e I would like to be able to either include or exclude namespaces depending on some labels that the user would choose (`production` for example).
I know that a wildcard filter exists for excluding but I would rather my logic not to be dictated by the namespace name but rather by the la

[2021-06-03 10:12] #32 closed

[2021-06-03 10:12] sanketsudake commented on #32
Closed issue as BotKube chart is now part of https://github.com/infracloudio/charts.

[2021-06-15 18:13] webjoel opened #494 "[BUG] v1/nodes error with message empty"
There was an error in the cluster, BotKube added it to Slack, but the error message was empty.
![Captura de tela de 2021-06-15 15-09-55](https://user-images.githubusercontent.com/1946348/122102744-23b56b00-cdec-11eb-9912-2c3411890bec.png)

**This error is occurring every 6 hours:**

![Captura de tela de 2021-06-16 08-40-14](https://user-images.githubusercontent.com/1946348/122212748-966f2680-ce7e-

[2021-06-16 14:32] canberkkoc opened #495 "[BUG] Botkube failed to send webhook with error code of 400"
**Describe the bug**
I install bot kube with helm and take this error on pod logs "Error Posting Webhook: 400". I tried on other pods at the same cluster webhook is working.

**To Reproduce**
1. Install botkube with helm like this command:
  helm install botkube --namespace botkube \
    --set communications.webhook.enabled=true \
    --set communications.webhook.url='xxxxxxxx' \
    --set config.

[2021-06-17 06:29] kartik-moolya opened #496 "Push Botkube container image to ECR Public Gallery"
**Is your feature request related to a problem? Please describe.**
Pulling images from dockerhub might become problematic when someone reaches dockerhub rate limits

**Describe the solution you'd like**
We can also push the docker images to ECR public gallery simultaneously along with dockerhub

**Describe alternatives you've considered**
NA

**Additional context**
Pushing images to ECR public gal

[2021-06-17 06:45] vaibhavp commented on #496
#432

[2021-06-17 07:05] kartik-moolya commented on #432
Rather than switching I feel we should have it in gcr as well as dockerhub. wdyt @PrasadG193 ?

[2021-06-30 11:11] dashanji opened #499 "add exec"
Hello，there! Can we enter the node through exec to view some information or execute some scripts ？ Thank you!

[2021-07-16 16:23] LaurentDumont commented on #227
Is this still current?

I am trying to deploy botkube in a cluster where we cannot leverage the ClusterRole as low-privileged tenants.

I am able to list ressources within my own namespace and have scoped the config to do just that. But I still see botkube trying to list ressources in that namespace at the Cluster scope.

[code]

[2021-07-20 00:26] sreedharbukya opened #501 "Ability to set custom bot name for MS Teams"
**Describe the bug**
BotKube app  notification doesn't work in microsoft teams if we create bot with different name other than botkube.

**To Reproduce**

I am trying to work with Botkube for my two different cluster by creating two different apps using microsoft studio.
Initially, I created app with name “BotKube” and bot name also with same name in our dev cluster.  Everything is working in term

[2021-07-21 05:14] #432 closed

[2021-07-21 06:42] #496 closed

[2021-07-21 06:43] PrasadG193 commented on #495
@canberkkoc could you please let me know which platform you are using? Is it Slack/Teams webhook or some other platform.

[2021-07-21 06:45] PrasadG193 commented on #492
This sounds like a good feature to have

[2021-07-21 06:56] #485 closed

[2021-07-21 15:31] canberkkoc commented on #495
Hello @PrasadG193 I use webhook for slack.

[2021-07-22 00:58] onedr0p commented on #439
@PrasadG193 that PR was merged.

[2021-07-23 17:53] abhaysingh003 opened #502 "add some badges to the readme"
**Is your feature request related to a problem? Please describe.**
Add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

**Describe the solution you'd lik

[2021-07-25 01:20] samip5 opened #503 "Support for Matrix notifications"
**Is your feature request related to a problem? Please describe.**
I'm always annoyed when I want to use Matrix for notifications but it's not supported.

**Describe the solution you'd like**
I would like to see support for Matrix

**Describe alternatives you've considered**
N/A

[2021-07-25 01:24] samip5 commented on #446
What they mean is, please provide multi-arch images for arm64 and probably arm.

[2021-07-26 05:40] PrasadG193 opened #504 "Switch to goreleaser to building and publishing images"
**Describe the solution you'd like**
BotKube doesn't support multi-arch images as of now. With goreleaser it will ease the process of building multi-arch binaries/docker images and publishing it.

[2021-07-27 07:37] PrasadG193 opened #505 "Publish BotKube on cloud marketplaces"
**Is your feature request related to a problem? Please describe.**

We should publish BotKube on cloud marketplaces like - GCP, AWS, CIVO, DO, etc

[2021-07-27 07:39] PrasadG193 opened #506 "Collect analytics"
**Is your feature request related to a problem? Please describe.**

Add a way to collect analytics that will help us deciding roadmaps for BotKube development

### To do

- [x] Set up Google Analytics and Twilio Segment accounts @pkosiec
  - Ensure proper access rights

- [x] Implement collecting analytics in BotKube @pkosiec
  - [x] Collect analytics listed in Initial data to collect section of t

[2021-08-01 19:43] cerebrate opened #507 "[BUG] Notifier not working with Microsoft Teams (Skipping SendMessage)"
**Describe the bug**

I have BotKube installed on my cluster and am attempting to receive notifications from it using Microsoft Teams. Unfortunately, after a `notifier start`, no notifications are received for any events or cluster changes. Instead, the following events are recorded in the BotKube pod log:

[code]

These only occur when the notifier is running. They cease on a `notifier stop` comm

[2021-08-07 09:25] CDimonaco commented on #492
Sounds like a good feature, @mumrau you are thinking about a customizable label, attached to a namespace that excludes all the resources in the namespace?

Like for example, configure the custom label in the yaml file or something like that?

[2021-08-08 08:58] dsaydon90 opened #508 "Support communications per resource group"
**Is your feature request related to a problem? Please describe.**
In my case, I want to send the default notifications to slack channel `botkube-all` and I want to send only pod `error` events to a different slack channel `botkube-pod-errors`

**Describe the solution you'd like**

**option 1**
If the resources could be grouped by a group name. For example
[code]

**option 2**
Add `tags` (or somet

[2021-08-09 12:55] mumrau commented on #492
I don't think about exclusion but configuration and customization.
I want `botkube` to react in harmony with other applications based on a common (and thus customizable) label.

Let's say I have `ns-a` and `ns-b`:
- `ns-a` has `criticality: major`
- `ns-b` has `criticality: minor`

This way, all my monitoring and observability tools know whether they should act or no based on that label, I don't h

[2021-08-19 05:26] #504 closed

[2021-08-19 11:01] #446 closed

[2021-08-21 13:31] disconn3ct opened #515 "[BUG] Panic on partial command"
**Describe the bug**
Botkube v0.12.1 crashes on incomplete commands

**To Reproduce**
Steps to reproduce the behavior:
1. Send `@botkube explain` as an allowed command from discord, with no arguments

**Expected behavior**
An error message or kubectl help message:
`error: You must specify the type of resource to explain. Use "kubectl api-resources" for a complete list of supported resources.`

**S

[2021-08-23 05:32] PrasadG193 commented on #515
Hey @disconn3ct, I think this is already fixed in the v0.12.2 release. Could you please upgrade BotKube and confirm?

[2021-08-23 11:39] pierluigilenoci commented on #480
@PrasadG193 any update on this?

[2021-08-23 11:39] pierluigilenoci commented on #481
@PrasadG193 any news about this?

[2021-08-23 11:42] pierluigilenoci commented on #484
@PrasadG193 any news about this?